[2017-03-07 15:48] kmerguerian commented on #290
Might look a little cluttered and cause other content to move down if we try to fit it under our search box as they have done at Ithaca.  Unlike Ithaca, we have a lot of content under our home page search box, so it's not as elegant a solution for us as it is on their site.  Maybe we could see a mockup of how it would look both below and above the box (i.e. next to the words "Search Help"?).  It w

[2017-03-07 16:06] winthropo commented on #290
I'm going to close this ticket and schedule a special READ meeting to discuss this and other links to the new UI.

[2017-03-07 16:06] #290 closed

[2017-03-07 16:41] elizoller commented on #290
I can prepare some screenshots of options if you like

[2017-03-07 16:45] winthropo commented on #290
@nestochan kicked around the idea of having a passthrough link which seemed cool. And @kmerguerian reminded me that this needs to go through and be approved by the WEB group so I think I'll try to invite Deb M to the meeting since she is the co-chair of WEB.

[2017-03-08 17:29] RPagani opened #291 "Changing New UI color"
Feedback from IDEAS regarding background and text colors:

"liked the Worldcat link (they liked the look and location) but overall they found it difficult to look at without straining their eyes. It seems that the light gray background and the light gray text and icons made it difficult for people to find what they needed... difficult time focusing on the screen and discerning the facets from the

[2017-03-08 19:21] winthropo commented on #291
Of course I have an opinion! I agree, a little bit, with the light blue comment, but don't see a problem with the facets or action buttons.

My $.02

[2017-03-13 13:09] elizoller commented on #290
Some mockups:
<img width="1203" alt="screen shot 2017-03-13 at 8 42 34 am" src="https://cloud.githubusercontent.com/assets/5439169/23855606/a8d62e86-07cc-11e7-918b-efedbf1e9319.png">
<img width="1187" alt="screen shot 2017-03-13 at 8 50 41 am" src="https://cloud.githubusercontent.com/assets/5439169/23855612/acabb774-07cc-11e7-884a-9a7125f95b4e.png">
<img width="1196" alt="screen shot 2017-03-13 at

[2017-03-13 13:28] elizoller commented on #291
Darker location links:
<img width="1134" alt="screen shot 2017-03-13 at 9 27 32 am" src="https://cloud.githubusercontent.com/assets/5439169/23856250/70917bc2-07cf-11e7-9113-20c4f7d02af6.png">

[2017-03-13 14:00] winthropo commented on #279
Ready to be taken down. Thanks.

[2017-03-13 15:30] #279 closed

[2017-03-16 14:02] winthropo opened #292 "Linking to new UI beta from Library site"
"Try the beta version" in red. For April 3rd launch.

Although not necessary, it would be nice it this was a passthrough. Ernesto will investigate.

Thanks.

![trybeta](https://cloud.githubusercontent.com/assets/4663357/23999705/8e9da688-0a2f-11e7-80bd-4cf9c4ee85a3.png)

[2017-03-16 14:08] winthropo opened #293 "Linking to new UI beta from SOS search page"
Add this link in early May.

Thanks.

![trybeta2](https://cloud.githubusercontent.com/assets/4663357/23999958/44871e52-0a30-11e7-9afb-c1a8ffe113f4.png)

[2017-03-16 14:13] winthropo opened #294 "Old UI landing page cleanup & linking to new UI"
Regina is leading this project to cleanup text and add link to new UI

![trybeta3](https://cloud.githubusercontent.com/assets/4663357/24000145/d80c75a0-0a30-11e7-9dc7-6a85984c7636.png)

[2017-03-17 13:09] winthropo opened #295 "Link to feedback form in new UI"
![feedback](https://cloud.githubusercontent.com/assets/4663357/24044364/54d2e32e-0af1-11e7-9685-236a11fd500c.png)

[2017-03-27 19:04] winthropo opened #296 "move pagination 'snowman' to the right please"
![snowman](https://cloud.githubusercontent.com/assets/4663357/24373201/9653aab2-12fe-11e7-8c61-55547a2c48e1.png)

[2017-03-29 13:56] winthropo commented on #295
Here is the form.

1. How easy did you find the new Scholar OneSearch to use?
Very easy
Somewhat easy
Somewhat difficult
Very difficult

2. Did you encounter any difficulties or technical issues?
*Yes
*No

If yes, show
“Please describe:"
“Browser:
“OS:” (copy these selections from the existing help form to make it easier for users)

3. Please share any comments or suggestions:

[2017-03-29 14:00] winthropo opened #297 "Remove Law Scope from Library Site and SOS"
This decision was approved by READ, Snell Admin, and Law Admin

![lawjob1](https://cloud.githubusercontent.com/assets/4663357/24458223/4a6a4994-1466-11e7-80ec-949a7a163bfc.png)

![lawjob2](https://cloud.githubusercontent.com/assets/4663357/24458226/4b8c7b4e-1466-11e7-852f-56498f67ef50.png)

[2017-03-29 14:13] winthropo opened #298 "Enable Google Analytics for SOS new UI usage stats/info"
@kmerguerian can you set this up in Google Analytics for the new UI?

Scott

[2017-03-29 14:16] winthropo opened #299 "Improved new UI landing page text"
@RPagani is working on this.

![landingpage](https://cloud.githubusercontent.com/assets/4663357/24459064/a3cb34d8-1468-11e7-88e6-a6b6c09510d5.png)

[2017-03-29 17:31] winthropo opened #300 "Testing of My Account functionality in new UI"
We need to test all aspects of _My Account_ in New UI especially _My Favorites_

- Does _E-Shelf_ functionality, in old UI, migrate and display in _My Favorites_ in new UI properly?
- OVERVIEW
- LOANS
- REQUESTS
- FINE + FEES
- BLOCKS + MESSAGES
- PERSONAL DETAILS

[2017-03-29 17:33] winthropo commented on #252
@elizoller & @nestochan i'm still able to change my email address in my account in the new UI. Does this need to be fixed before April 3?

[2017-03-29 17:57] elizoller commented on #252
I have investigated this and am still not seeing a way to disable the field that seems acceptable. Any solution I come up with is quite "hacky".
So if it is not a high priority, I will keep looking for a better solution when I have time. If it needs to be in place by the 3rd, I can work up a temporary solution and then find a better solution later on.

[2017-03-29 19:19] winthropo commented on #252
@kmerguerian did you notice that you can also do this in the old UI?

[2017-03-29 19:22] winthropo opened #301 "Broken Accessibility Statement Link"
Anyone remember what this was supposed to link to?

Loops back to Primo.

![brokenlink](https://cloud.githubusercontent.com/assets/4663357/24472363/6f9b1e0a-1493-11e7-9c78-4f76bd81440a.png)

[2017-03-29 19:27] winthropo commented on #252
@elizoller I don't think this is a priority and doesn't have to be fixed by the 3rd. I'll update the milestone.

[2017-03-29 19:38] winthropo commented on #238
New UI is displaying the right interface languages in My Account. If folks want to unhide the language link  -- next to the sign in. I'm fine with that. @kmerguerian ?

[2017-03-29 19:42] kmerguerian commented on #252
No—I thought we removed user access to editing email long ago.  Maybe it came back somehow in a subsequent release.  My understanding is if you change it, it will just change back due to Banner data, so it’s not a good idea to give people the idea they have control.

Karen

From: Scott Carlisle <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NEU-Libraries/scholar-onesearch <r

[2017-03-29 19:47] kmerguerian commented on #238
If it's displaying the right languages, I would not hide it.

[2017-03-29 19:48] winthropo commented on #252
I guess we could hide it, but I just wanted to separate it from the New UI tagged things.

From: kmerguerian <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Wednesday, March 29, 2017 at 3:42 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "Carlisle, Scott" <s.carlisle@northeastern.edu>, Comment <comment@noreply.g

[2017-03-29 19:53] nestochan commented on #252
@kmerguerian the change is local to primo...  -- it does not update Alma at all... or revert back based on banner data. however, it does give the impression that you are making a much larger change than it does... changing this would be hacky... perhaps hiding tab or edit button is a solution here. -- 🃏

[2017-03-29 22:28] kmerguerian commented on #252
Does it actually change Primo-related functions?  For example does it change the address for alerts but not overdue notices, etc..?  If so I think that’s OK, right?
Karen

From: nestochan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, March 29, 2017 at 3:53 PM
To: NEU-Lib

[2017-03-30 12:58] jasf- commented on #301
Ha.  Nope.  And I can't find evidence of this link, working or otherwise, amongst our local friends with Primo.

[2017-03-30 13:49] elizoller commented on #301
This link has never actually pointed to anything since the initial creation of the footer template - https://github.com/NEU-Libraries/scholar-onesearch/blame/develop/templates/nu_footer.jade

[2017-03-30 13:51] winthropo commented on #301
I guess we should remove it

[2017-03-30 20:51] jasf- commented on #300
I spent a few minutes looking My Account, and it seems pretty solid to me - definitely an improvement over the version in our current UI.

My loans and e-shelf favorites migrated and displayed correctly.

Minor quibble - it seems odd to me that there's no way to change the sort of the My Favorites list, and no indication as to what order they're displayed in.  It looks as though they're in order o

[2017-03-30 21:09] jasf- opened #302 "Title tags in new UI"
Apologies if this has been discussed already - I just noticed it.

Here's the title tag in the new UI before a search is run.
![sosnosearch](https://cloud.githubusercontent.com/assets/4661920/24526030/9fd77992-156a-11e7-8174-d67b8da03fb1.png)

Run a search and your search term appears in the title tag.
![titlewithsearchterm](https://cloud.githubusercontent.com/assets/4661920/24526079/b83d2306-156a

[2017-03-31 13:05] winthropo commented on #302
Interesting. Didn't notice that. This morning I don't have a strong opinion on this. I could disable it if READ wants...tagged for future READ discussion.

[2017-03-31 19:10] elizoller commented on #298
Fixed with https://github.com/NEU-Libraries/scholar-onesearch/commit/a3562d12821fb0baffcc3137b0fefb8d9461ec9c
looking in analytics, it shows up under the same site but if you go under Behavior > all pages and do an advanced search for begins with "/search" you will see the searches in the new ui (old UI has primo_library)

[2017-03-31 19:10] #298 closed

[2017-03-31 19:29] elizoller commented on #292
This is up on dev: https://librarydev.neu.edu
will deploy to production Monday ~7am

[2017-03-31 20:31] elizoller commented on #295
This is up on library dev at https://librarydev.neu.edu/scholar-onesearch-feedback-form
I will migrate to production Monday ~7am

[2017-03-31 20:38] #301 closed

[2017-03-31 20:39] elizoller commented on #299
Will deploy to production with production changes on Monday morning

[2017-03-31 20:46] elizoller commented on #295
Also link is up on NUdev view in staging: http://onesearch-test.northeastern.edu/primo-explore/search?vid=NUdev
will be deployed to production and NU during Monday morning's deploy

[2017-03-31 20:55] elizoller commented on #297
This is up on librarydev and NUdev on staging
Will deploy to production with the rest of the changes on Monday morning

[2017-04-03 12:15] elizoller commented on #299
Deployed to prod

[2017-04-03 12:15] #299 closed

[2017-04-03 12:15] elizoller commented on #295
Form and link in main menu deployed to prod

[2017-04-03 12:15] #295 closed

[2017-04-03 12:15] elizoller commented on #297
Removal of law scope deployed to prod

[2017-04-03 12:15] #297 closed

[2017-04-03 12:16] elizoller commented on #292
Deployed to prod

[2017-04-03 12:16] #292 closed

[2017-04-04 14:58] kmerguerian opened #303 "Cannot see WorldCat passthrough button"
Basic search/keyword results page looks like the attached.  The WorldCat passthrough is not available.

![screen shot 2017-04-04 at 10 56 30 am](https://cloud.githubusercontent.com/assets/2442078/24663306/86d5b60c-1925-11e7-9a25-d1d46a7b9658.png)

The URL I am using is the one on the library home page.

MacOSX
Chrome Version 51.0.2704.63 (64-bit)

[2017-04-04 15:16] elizoller commented on #303
I can't replicate this in chrome on mac - wondering if the styling is cached in your browser - is your pagination on the right or left (if its on the right then the styling is not cached, if its on the left then try clearing your cache)

[2017-04-04 21:03] kmerguerian opened #304 "Report a problem captured URL"
When you are in the beta and you click "Report a problem" the form captures a URL that looks like this

http://northeastern-primostaging.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid=TN_mla2010421069&context=L&vid=NUdev&search_scope=new_everything_scope&tab=default_tab&lang=en_US

But it's not actually primo staging or vid=NUdev

Not urgent--maybe fix before going live this summer, howe

[2017-04-06 17:43] winthropo commented on #303
Fixed this by upgrading browser.

[2017-04-06 17:43] #303 closed

[2017-04-12 14:05] winthropo opened #305 "Annex Request Button Not showing in Primo staging"
Could it be related to the server move @nestochan ?

Here is what Ex Libris said they did to fix the problem in SF case: 00237828

-The "primo_pds_url" & "primo_pds_test_url" parameters in Alma were changed to "https://dc02vg0308na.hosted.exlibrisgroup.com:443/pds?".
-The Shibboleth identifier (001277847) was defined as the test user identifier in Alma.
-In PDS , the file "01NEU_INST.tags" was ren

[2017-04-12 14:33] winthropo commented on #305
fixed. thanks!

[2017-04-12 14:33] #305 closed

[2017-04-12 14:37] nestochan commented on #305
🃏  -- ***NP.***

[2017-04-12 15:10] winthropo opened #306 "Request & Request from another library link size"
Can we make these links a little bigger?

![small request button](https://cloud.githubusercontent.com/assets/4663357/24964771/2edf5db2-1f70-11e7-86ba-86a5d977bf2f.png)

[2017-04-12 15:20] winthropo commented on #296
This appears to have moved back to the left side.

[2017-04-12 17:34] winthropo commented on #296
fixed.

[2017-04-20 12:52] winthropo commented on #306
....was discussing the new Library Annex with Amira the other day. She definitely wants to see these request links better. She brainstormed making them bigger, different color, and giving them a border to make them actual buttons. We don't necessarily have to do that, I don't think, but they do need to be more visible.

[2017-04-20 13:26] kmerguerian commented on #306
I think it also needs to be clearer what the Request button is.

[2017-04-20 15:14] kmerguerian opened #307 "Confirmation screen after placing an annex request"
Instead of "Request placed"
change to

"Thank you!  Your request has been received. Check your email for a confirmation message."

[2017-04-20 15:21] kmerguerian commented on #306
I suggest "Request this item"

[2017-04-20 15:41] kmerguerian commented on #307
Amending this--it should include delivery time and notification info, so users know what's going to happen and when. Something like:

Thank you for your request.  We will notify you by email when this item is ready to pick up at Snell Library. Normal delivery time is two days.

[2017-04-20 19:25] winthropo commented on #307
Changed it to "Thank you for your request. We will notify you by email when this item is ready to pick up."

Looks like this label is set at the institution level so I don't think we can say Snell. And I don't think we can say 2 days for other reasons.

We can discuss at some READ.

[2017-04-20 19:35] kmerguerian commented on #307
Thank you!

From: Scott Carlisle [mailto:notifications@github.com]
Sent: Thursday, April 20, 2017 3:25 PM
To: NEU-Libraries/scholar-onesearch
Cc: Merguerian, Gayane Karen; Author
Subject: Re: [NEU-Libraries/scholar-onesearch] Confirmation screen after placing an annex request (#307)

Changed it to "Thank you for your request. We will notify you by email when this item is ready to pick up."

Looks

[2017-04-20 19:42] winthropo commented on #306
What do you think of this buttonization?

![request2](https://cloud.githubusercontent.com/assets/4663357/25249464/ecfef8e6-25df-11e7-8d15-a8cf341389d6.png)

[2017-04-20 19:45] kmerguerian commented on #306
Definitely looks more clickable that way!

[2017-04-27 18:30] winthropo opened #308 "Take A Tour"
Can the Take-A-Tour feature in the old UI be added to the staging new UI for READ to review?

[2017-04-27 18:38] elizoller commented on #308
Ok, I will work on porting it over from the old UI

[2017-05-03 19:46] winthropo opened #309 "Move virtual browse"
Please move virtual browse up. Below ViewIt/Getit and above Details and Related Links.

![screen shot 2017-05-03 at 3 40 46 pm](https://cloud.githubusercontent.com/assets/4663357/25678304/48a79bee-3017-11e7-899a-5daa9f38c4d9.png)

[2017-05-18 17:25] winthropo opened #310 "Hide Tags Feature"
READ agreed that we want to hide all things Tags in Primo.

According to a very long Alma-L thread (May release and Tags). EXL advised this method for hiding the tags feature in the May release.

After investigation i have found that the tags can be disabled by: 
1. Tags main menu link is removable vi the BO views wizard. 
2. Use the following CSS to hide the Tags section and button on the full re

[2017-05-22 18:33] gam5 commented on #310
Tags have been hidden in staging.

[2017-05-25 16:30] kmerguerian opened #311 "Adding a chat widget tab"
Add a chat widget tab to the page similar to this page on the dev site
https://librarydev.neu.edu/get-help/ask-a-librarian

![screen shot 2017-05-25 at 12 26 00 pm](https://cloud.githubusercontent.com/assets/2442078/26459754/85f8f242-4145-11e7-8dff-6369ede7f355.png)

There are options for different color tabs.  See
http://www.textalibrarian.com/tabsgallery.php

To log in to mosio for the script, c

[2017-05-25 16:49] elizoller commented on #311
Are you wanting this on every page?

[2017-05-25 17:14] kmerguerian commented on #311
I will check with Nicole and Brian and get back to you.  What are the options or categories of pages that can be selected?

[2017-05-31 14:43] jasf- opened #312 "'Fetch item' in staging?"
I think this functionality was supposed to appear in staging with the May release, yeah?  I'm not seeing it.  Am I missing something?  Does it need to be enabled in the back office?

If we've decided to give this functionality a pass for now, that's fine with me too - I just went looking for it as I had made a note to test it.

[2017-05-31 15:42] jasf- opened #313 "Browse search & journal search 'dead ends'"
Once you start using the browse search, or the journal search, it seems as though you get 'stuck' there - there doesn't seem to be an intuitive way to switch to a different method of searching.

The basic search offers a link to advanced search (and vice versa).  Should we consider adding a similar link to basic search to browse search and journal search, or are we okay with it as is?

[2017-05-31 15:56] winthropo commented on #313
I think I understand your point.

You can click on Scholar One Search in upper left hand corner to return to basic search. Is that not intuitive? It is to me. But maybe I'm not normal?

[2017-05-31 17:49] jasf- commented on #313
It feels buggy to me, especially since we currently offer an option to return to basic search from browse.

![now](https://cloud.githubusercontent.com/assets/4661920/26645970/e92df256-4607-11e7-95a8-c917fe3fb1fe.png)

But if READ thinks it's NBD, that's okay with me.

[2017-05-31 17:58] winthropo commented on #313
Maybe something like in the staging clean view?

http://northeastern-primostaging.hosted.exlibrisgroup.com/primo-explore/search?vid=NU_CLEAN

![screen shot 2017-05-31 at 2 01 51 pm](https://cloud.githubusercontent.com/assets/4663357/26646480/c7793e02-4609-11e7-8ed1-5910bbd73be6.png)

[2017-05-31 18:08] winthropo commented on #313
I like how they labeled it "New Search."

![screen shot 2017-05-31 at 2 07 32 pm](https://cloud.githubusercontent.com/assets/4663357/26646710/9eb24d1e-460a-11e7-9793-58b8255bae99.png)

[2017-05-31 18:13] jasf- commented on #313
👍

[2017-05-31 18:19] winthropo commented on #313
Hey @gam5 since I'm seeing this in the clean ... can you work your magic and reveal the Library Search link in Staging vid=NU?

[2017-05-31 18:39] winthropo commented on #313
OK. Made the change in staging. Give it a try. We could also have it open in a new tab if you prefer.

http://northeastern-primostaging.hosted.exlibrisgroup.com/primo-explore/search?vid=NU

![screen shot 2017-05-31 at 2 39 04 pm](https://cloud.githubusercontent.com/assets/4663357/26647961/f39da9a0-460e-11e7-9544-94283a2f6f15.png)

[2017-05-31 18:45] jasf- commented on #313
Super.  Thanks.

[2017-05-31 19:50] jasf- opened #314 "Rename facet 'creation date' --> 'date'?"
This would be consistent with the label in our current SOS instance.  Yay/nay?

[2017-06-01 12:07] winthropo commented on #313
I made the change in production.

[2017-06-01 12:08] winthropo commented on #314
Hey @gam5 could you look at this in the back office and fix in prod and staging? I'm a little bit confused by what I'm seeing.

[2017-06-01 12:31] gam5 commented on #314
I'll take a look.

[2017-06-01 14:00] winthropo opened #315 "Primo New UI Cutover"
I'm sure I'm missing other details. Please add.

- [x] Redirect library search box to new UI (Greg)

- [x] Remove Try the Beta Version link from Library page (Greg)

- [x] Update SOS welcome page (Regina)

- [x] Update LibGuide template and communicate out to LibGuiders (Greg/Karen)

- [x] Rename Primo scope in production to enable redirects (Ernesto & Scott)

- [x] Update rotating feature (Jon)

[2017-06-01 16:18] jasf- commented on #254
Just noticed that the new UI still has the 'items sent by Primo' language.  Is this something that needs addressing before cutover?

![sentbyprimoemail](https://cloud.githubusercontent.com/assets/4661920/26689575/14800e96-46c4-11e7-9da4-0bc3f2c000e5.png)

[2017-06-01 16:28] jasf- opened #316 "Export to EasyBib"
Apologies if this has already been discussed.

The new UI has an option to export citations to EasyBib.  While we have many students who have used EasyBib in their pre-NU careers, we don't officially support EasyBib.  Should we offer this option or hide it?

[2017-06-02 17:35] RPagani opened #317 "Rename Journal Search in new UI"
Rename Journal Search to E-Journal Finder in the new UI (May Staging)

[2017-06-05 13:18] winthropo commented on #254
Filed a case.

https://exlibrisgroup--c.na26.visual.force.com/apex/VF_Case_WithoutJira?id=5003200001DJ8uTAAT

[2017-06-05 13:24] winthropo commented on #314
I filed a case too.

https://exlibrisgroup--c.na26.visual.force.com/apex/VF_Case_WithoutJira?id=5003200001DJ8yGAAT

These label and text discrepancies between the two UIs are frustrating.

[2017-06-05 13:57] winthropo opened #318 "Remove Facets on the left customization"
In Staging. Please remove our customization that moved the facets to the left side. And then you can, or I can, switch the new button in the views wizard that is used to accomplish this in the May release. Thanks.

![screen shot 2017-06-05 at 9 54 52 am](https://cloud.githubusercontent.com/assets/4663357/26786579/17b0699e-49d5-11e7-8040-4880969135bb.png)
According to the May release highlights:
_T

[2017-06-05 14:11] rmcnally opened #319 "Mapping 'Details and Related Links' display"
The 'Details and Related Links' section, which is more visible in the new UI, needs to be adjusted to cut some extraneous fields and display information correctly, such as Identifier and Alternative titles, as they are in the current UI.

I noticed this in the Journal Search because journal records have a larger set of fields but it appears to be true for all of our citations created from MARC rec

[2017-06-05 15:39] winthropo opened #320 "Permalink Labels"
Should we label them something else since we know they aren't really permanent?

One suggestion is “Copy record link” or something like that. Please leave a comment if you have a suggestion for READ to discuss. I don't think the label should be too long. I think no more than two words would be best -- one word better.

There are few places in the code table to make this update.

![screen shot 2017

[2017-06-05 16:04] winthropo commented on #317
Fixed in staging. but I'm going to keep this open to remind us to do this in prod when we upgrade.

[2017-06-05 16:08] jasf- commented on #320
"Direct link"?

[2017-06-05 16:14] elizoller commented on #318
Lines 1-15 are the only lines affecting this so they can just be removed in favor of the back office config

[2017-06-05 16:20] winthropo commented on #307
Can this ticket be closed @kmerguerian ?

[2017-06-05 16:25] winthropo commented on #306
@gam5 I don't think this buttonization of the request link is in production. Can you do that?

[2017-06-05 16:29] winthropo commented on #304
@gam5 can you fix this? New UI Production report a problem needs to send production links not staging links.

[2017-06-05 16:31] winthropo commented on #300
I'm going to close this. Please reopen if you want.

[2017-06-05 16:31] #294 closed

[2017-06-05 16:32] winthropo commented on #293
This didn't happen, but I think that's fine.I'm going to close this ticket.

[2017-06-05 16:32] #293 closed

[2017-06-05 16:33] winthropo commented on #291
@RPagani OK to close this?

[2017-06-05 16:42] winthropo commented on #254
Fixed in production. Closing.

[2017-06-05 16:42] #254 closed

[2017-06-05 16:44] winthropo commented on #272
@kmerguerian what is the latest with this?

[2017-06-05 16:47] winthropo commented on #284
This is no longer an issue in production for the new UI. Closing this case.

[2017-06-05 16:47] #284 closed

[2017-06-05 16:48] winthropo commented on #285
Yep. This needs to get fixed before go-live.

[2017-06-05 16:49] winthropo commented on #266
@RPagani are there plans to do something like this? Can I close this ticket?

[2017-06-05 16:51] RPagani commented on #320
I kinda like "record link" - in the case of articles, it really does only take you to the record link and not a permalink for the actual article.

[2017-06-05 16:52] RPagani commented on #291
Looks good to me.

[2017-06-05 16:52] #291 closed

[2017-06-05 16:53] winthropo commented on #260
I'm going to close this case. Please feel free to reopen. if necessary.

[2017-06-05 16:53] #260 closed

[2017-06-05 16:54] RPagani commented on #266
@winthropo Yes, I'll have something this week. We are going to keep it relatively simple (not major changes but less text) for now.

[2017-06-05 16:55] winthropo commented on #259
I'm going to close this. Feel free to reopen if necessary.

[2017-06-05 16:55] #259 closed

[2017-06-05 16:56] kmerguerian commented on #320
Maybe "Get a link" (used in sharepoint/onedrive) or Get Shareable Link (that's what Google Drive uses)

[2017-06-05 16:57] winthropo commented on #257
Closing this. Feel free to reopen.

[2017-06-05 16:57] #257 closed

[2017-06-05 16:57] winthropo commented on #256
closing @kmerguerian . please reopen if you are still seeing this issue.

[2017-06-05 16:57] #256 closed

[2017-06-05 16:59] winthropo commented on #252
@kmerguerian closing this. reopen if it is still an issue for you.

[2017-06-05 16:59] #252 closed

[2017-06-05 17:01] winthropo commented on #320
I don't have a strong opinion on what we label this. But please keep in mind how crowded this area already is in certain places. Something like "Get Shareable Link" might be awkward in some places. Like here:

![screen shot 2017-06-05 at 12 59 54 pm](https://cloud.githubusercontent.com/assets/4663357/26794256/f6c84d18-49ee-11e7-87db-18636f41cfa5.png)

[2017-06-05 17:08] winthropo commented on #308
@elizoller or @gam5 do you think this is something that can be in place before July 10?

[2017-06-05 17:12] kmerguerian commented on #320
Makes sense, so just "Get a link" might work better.

[2017-06-05 17:20] winthropo commented on #238
It's displaying the right languages. I'm going to close this case.

[2017-06-05 17:29] RPagani commented on #320
I like having the action word before link - "get a link" "copy link" "share link"

[2017-06-05 17:35] jasf- commented on #313
I think we can close this now, yeah?  Feel free to reopen if need be.

[2017-06-05 17:35] #313 closed

[2017-06-05 18:03] kmerguerian commented on #320
I'm in favor of any of those action words options.

[2017-06-05 18:08] elizoller commented on #238
Do you want me to bring the language dropdown back? It is hidden with CSS

[2017-06-05 18:25] kmerguerian commented on #238
Yes, thanks

[2017-06-05 18:31] winthropo commented on #238
My bad. I thought we were talking about the language settings in My Account. Which have always been visible.

[2017-06-05 18:37] #238 closed

[2017-06-05 18:48] elizoller commented on #318
I'm actually not satisfied with EXL implementation of facets on the left.
I chose to align the facets the search box. EXL chose to align the facets to the left side of the page but that makes the results not line up with the search box which (in my opinion) causes too much misalignment of content.
NU implementation:
![screen shot 2017-06-05 at 2 45 21 pm](https://cloud.githubusercontent.com/assets

[2017-06-05 18:56] elizoller commented on #308
I want to look into it a little more before I give a definitive answer. It requires external JS and I want to make sure whatever we implement follows angular and EXL best practices. I should have an answer for you tomorrow.

[2017-06-05 19:06] gam5 opened #321 "Report a Problem not working on full record view"
On both production and sandbox, the Report a Problem link does not seem to be working in the full record view. Works fine in brief results list.

Seeing this error in the JS console:
Error: vm.prmActionCtrl.onToggle is undefined

It doesn't work at all on sandbox, but does seem to generally work on the second click on prod.

[2017-06-05 19:37] kmerguerian commented on #238
Thanks--Note the list of languages available is different depending on what language you choose. Maybe the only practical way to manage that is to make them all available in all interfaces?

[2017-06-05 19:44] kmerguerian commented on #238
Sorry, that may not be true, I think they are just in different order so that confused me.

[2017-06-05 19:52] kmerguerian commented on #252
So what functions would be "local to Primo"?  Would anything be affected other than alerts?  It would be good to have that documented in this ticket if the information is available just for reference.

[2017-06-05 19:52] winthropo commented on #238
I guess this shouldn't surprise me. But the My Account area doesn't get much action. Since 2017:

![screen shot 2017-06-05 at 3 50 50 pm](https://cloud.githubusercontent.com/assets/4663357/26800329/e3cb5c6a-4a06-11e7-8874-519c6d6bfc39.png)

[2017-06-06 11:36] elizoller commented on #318
@winthropo pointed out that the EXL implementation provides more width for the facet text which is a definite bonus. If I'm the only one feeling so strongly about the alignment then I'm good to just leave it with the EXL way. It would also make it easier for upgrades and one less customization to maintain.

[2017-06-06 11:37] elizoller commented on #321
I'll take a look. Sometimes they change the names of functions and/or change the JS code so the customizations I made may need to be updated.

[2017-06-06 12:56] #321 closed

[2017-06-06 14:07] elizoller commented on #321
Note: this is fixed on dev only. The function moved on the newest version. So once prod is updated and the updated code is deployed to prod, this will be fixed. For now the second click is the only way it works on prod.

[2017-06-06 14:09] elizoller commented on #304
This should be fixed with 70b6db99ca9c9afd96683ea8e5f35d2468268e76 and 2747dd7101798df1a6ca26d04ee408df2db70057
if vid=NU then it goes to prod library website form with prod url
if vid = anything but NU it goes to dev library website form with staging url

[2017-06-06 14:09] #304 closed

[2017-06-07 19:09] elizoller commented on #308
So I've made some progress on this so I think it may be possible by July 10. Basically since its angular now, we can't use the bootstrap tour anymore. They've written a similar tool using angular called angular-ui-tour. It has taken me some time to figure out how to get the JS incorporated into the page but now that I'm past that hurdle, it's just about figuring out how the tour actually works ( t

[2017-06-07 19:19] winthropo commented on #308
Thank you. Really appreciate the effort.

[2017-06-08 13:04] jasf- commented on #300
Quick comment and then I'll re-close.  Just got this email - this is good news.

![sorteshelfaug](https://user-images.githubusercontent.com/4661920/26929909-726ff48e-4c29-11e7-97c7-9e7a1ccfbe43.png)

[2017-06-08 13:13] winthropo commented on #300
woohoo!

[2017-06-08 13:19] #300 closed

[2017-06-08 13:59] winthropo commented on #308
@RPagani and I have decided to table this for now. I'll remove it from the July 10 milestone but keep the ticket opn and hopefully at a later date @gam5 or someone else can implement it. Thanks Eli!

[2017-06-08 17:11] rmcnally commented on #319
This was a mistake on my part. It's a difference between the sandbox and production normalization rules and mapping rather than the new and old UI.

[2017-06-08 17:11] #319 closed

[2017-06-08 18:21] winthropo commented on #320
We agreed to "Link"

[2017-06-08 18:35] winthropo commented on #275
READ discussed this  on June 8th and agreed that the labels are appropriate and they are behaving the way we want.

[2017-06-08 18:36] nestochan commented on #275
👍

[2017-06-08 18:43] winthropo commented on #264
READ discussed this on June 8th and agreed we like the way this is working now. But I will leave the case open.

[2017-06-08 19:15] winthropo commented on #320
I made the label change to the new UI. Since our old UI has some customizations in that area @elizoller would have to make the name change there. Since we are so close to dropping the old UI I told Eli only update the old UI if it is easy to do.

[2017-06-08 19:15] #320 closed

[2017-06-08 19:18] jasf- commented on #316
READ discussed on 6/8/17 and elected to keep the export to EasyBib in place.

[2017-06-08 19:18] #316 closed

[2017-06-08 19:19] jasf- commented on #302
READ discussed 6/8/17.  Going to leave these as they are.

[2017-06-08 19:19] #302 closed

[2017-06-08 19:20] jasf- commented on #312
Discussed at READ on 6/8/17.  Will enable and test this at some point, likely not in time for July release.

[2017-06-08 19:22] elizoller commented on #320
Should be easy to do. Will push up tomorrow morning.

[2017-06-09 11:01] elizoller commented on #320
Deployed

[2017-06-09 18:24] gam5 commented on #309
Deployed on Sandbox

[2017-06-09 18:27] elizoller commented on #309
Was it a config or a JS fix?

[2017-06-09 18:37] gam5 commented on #309
JS, based on this code: https://github.com/muratseyhan/primo-explore-section-ordering

From: Eli Zoller <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Friday, June 9, 2017 at 2:27 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "McClellan, Greg" <g.mcclellan@northeastern.edu>, Assign <assign@noreply.github.com>

[2017-06-13 12:51] winthropo commented on #317
Fixed in prod may release. Closing.

[2017-06-13 12:51] #317 closed

[2017-06-13 14:14] gam5 commented on #309
Deployed in Production.

[2017-06-13 14:14] #309 closed

[2017-06-13 14:21] winthropo commented on #318
I like going the EXL way for the reasons you list. OK to do this now that prod is upgraded to May.

[2017-06-13 14:25] gam5 commented on #318
Done.

From: Scott Carlisle <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Tuesday, June 13, 2017 at 10:21 AM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "McClellan, Greg" <g.mcclellan@northeastern.edu>, Assign <assign@noreply.github.com>
Subject: Re: [NEU-Libraries/scholar-onesearch] Remove Facets on the left

[2017-06-13 19:41] kmerguerian opened #322 "Help text on SoS home"
This came in the suggestion box.  I don't know if it's worth making this change to the text on the SoS home page since we're going to have a new home page in a couple of weeks?

Submitted on Monday, June 5, 2017 - 14:00

Subject: Scholar One Search
What is your question, comment or suggestion? Let us know!
_I notice that under "What Am I Searching" on the main page of SOS, it is still saying that

[2017-06-14 11:33] #322 closed

[2017-06-23 14:36] winthropo commented on #232
I'm working on this and hopefully we can have it up and running for July 10.

[2017-06-23 17:34] winthropo commented on #232
closing this. open if we start seeing any funny business.

[2017-06-23 17:34] #232 closed

[2017-06-26 12:55] winthropo commented on #307
Please feel free to reopen with an update.

[2017-06-26 12:55] #307 closed

[2017-06-26 12:57] #275 closed

[2017-06-26 12:58] #272 closed

[2017-06-26 12:58] #264 closed

[2017-06-26 13:00] #187 closed

[2017-06-26 13:42] kmerguerian opened #323 "Direct login to my account"
On the library website, we have URL http://library.northeastern.edu/myaccount

that redirects to the login page for SoS Primo.

When the new UI is implemented, this will have to point to a new URL. From another library on the Primo listserv, I came up with this:

http://onesearch.northeastern.edu/primo-explore/login?vid=NU&targetURL=http://onesearch.northeastern.edu/primo-explore/favorites?vid=NU&

[2017-06-26 14:06] jasf- commented on #323
Yep, works for me!  🎉

[2017-06-26 14:32] kmerguerian commented on #323
Great thanks!

[2017-06-27 14:00] winthropo opened #324 "Browse List Label Order"
From the feedback form on Friday.

_Browse search default should be title. Users won't realize "subject" means subject headings and will use a keyword search, "well, that's my subject."_

This is easy to do. Should the order be:

Title (default)
Author
Subject
LC

Something else?

[2017-07-06 16:11] winthropo commented on #324
doesn't appear to be much interest in this one. closing the ticket.

[2017-07-07 15:23] winthropo opened #325 "Send To Next Button"
This Next button doesn't do anything. I press it and nothing happens. To get it to appear you first need to press the arrow button.

![unknown](https://user-images.githubusercontent.com/4663357/27964513-86f8b212-6306-11e7-85cc-6144948e64f3.png)

[2017-07-07 17:50] winthropo opened #326 "Pull Law's LibGuides into SOS"
Rachel requested we pull Law's LibGuides into SOS.

[2017-07-07 18:14] winthropo opened #327 "WorldCat passthrough"
Putting this reminder here for tracking purposes.  Below 960x1289 the WorldCat passthrough appears before a search has been executed giving us this:

![unknown-1](https://user-images.githubusercontent.com/4663357/27970888-8f4d2160-631e-11e7-9792-45de4288388e.png)

[2017-07-07 18:16] winthropo opened #328 "Advanced search disappears"
Advanced Search link disappears between 600x1248px and 960x1289.

[2017-07-10 13:55] winthropo opened #329 "Add link to new acq list to SOS"
There was a response to Karen’s post about the new SOS UI, asking for a new titles list. Karen responded and pointed the individual to our new titles list.  Got Patrick and Amira to wonder if there should be a link on SOS for this?  It currently seems buried in the Research tab.

Thoughts on where to put this link?

[2017-07-10 14:08] winthropo commented on #329
How 'bout between E-Journal Finder and Databases?

![screen shot 2017-07-10 at 10 07 15 am](https://user-images.githubusercontent.com/4663357/28021956-a840619c-6557-11e7-977c-a08d7f4f7526.png)

[2017-07-10 14:21] kmerguerian commented on #329
If the new title list is going to continue to function, let's do a monthly blog post or revolving feature each time there's an update, that way it can show up on the home page also.

Karen Merguerian
User Services
Northeastern University Libraries

On Jul 10, 2017, at 9:55 AM, "Scott Carlisle" <notifications@github.com<mailto:notifications@github.com>> wrote:

There was a response to Karen’s post

[2017-07-10 14:27] winthropo commented on #329
As far as I know its going to continue to function. Unless you've heard something.

Any thoughts on the original post's question? Where to put the link?

[2017-07-10 14:40] jasf- commented on #329
I would vote for *not* between e-journal finder & databases, mostly because those seem to me to belong near each other (as does the DRS, to some degree).   What about after the DRS, or near the browse?

That menu is getting pretty dense.  But if we need a link in SOS to new titles, that's the spot for it.

[2017-07-10 14:46] winthropo commented on #329
I'm fine with either of those proposals.

I agree it is getting dense, but I don't think we have the option of not putting a link somewhere.

[2017-07-10 14:53] winthropo commented on #329
Set it up in staging to see how crowded it would look. I think if we were to label the link "Selected New Acquisitions List" it might look ridiculous. So I removed "Selected."

I also assume we want it to open in a NEW window.

![screen shot 2017-07-10 at 10 51 39 am](https://user-images.githubusercontent.com/4663357/28024178-f07aeba2-655d-11e7-808c-744e7c926beb.png)

[2017-07-10 14:54] winthropo commented on #329
It hides the Browse link. The limit looks to be 6 links.

[2017-07-10 15:03] winthropo opened #330 "Tell Us What You Think Feedback"
How long do we want to keep the link to the feedback form up? Thoughts?

![screen shot 2017-07-10 at 11 02 11 am](https://user-images.githubusercontent.com/4663357/28024669-5d3318d6-655f-11e7-898b-d32a59a907b1.png)

[2017-07-11 13:12] jasf- commented on #329
Curious - is it possible to see stats on how often those various links are used?

[2017-07-11 15:17] winthropo opened #331 "Onesearch not linking to new UI"
http://onesearch.library.northeastern.edu

Not linking to the new UI.

[2017-07-11 15:19] winthropo opened #332 "Old UI links/permalinks not redirecting"
The Old UI's permalinks are not redirecting to the new UI. Despite Default_scope in-place and Primo BO setting checked.

[2017-07-11 16:10] kmerguerian commented on #331
also onesearch.northeastern.edu

[2017-07-11 16:56] winthropo opened #333 "SOS search box in LibGuides"
First two SOS search boxes I checked in Libguides are broken. Perhaps more?

Advanced Writing in the Disciplines (AWD) : Academic Research is broken.

American Sign Language (ASL): Find Books + Media is broken.

Brings user to here:

![screen shot 2017-07-11 at 12 53 45 pm](https://user-images.githubusercontent.com/4663357/28079971-4e8b3028-6638-11e7-8cc0-1bf50172ebe3.png)

[2017-07-11 19:41] kmerguerian opened #334 "URL for e-journals?"
Verifying: this is the new ejournal finder URL?

http://onesearch.library.neu.edu/primo_library/libweb/action/dlSearch.do?institution=NEU&vid=NU&query=facet_atoz%2cexact%2cA&indx=1&bulkSize=30&dym=false&loc=local%2cscope%3a(AZNEU)&fn=goAlmaAz&sortField=stitle&almaAzSearch=true&azSearch=true&selectedAzAlmaLetter=A&_ga=2.94511388.1027074939.1499778336-1565093838.1496699445

Is there a direct URL for

[2017-07-11 19:43] gam5 commented on #334
This would be better for the ejournal finder: http://onesearch.library.neu.edu/primo-explore/jsearch?vid=NU&lang=en_US

From: kmerguerian <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Tuesday, July 11, 2017 at 3:41 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subjec

[2017-07-11 19:45] kmerguerian commented on #334
Great, thanks!!!!

[2017-07-11 19:48] gam5 commented on #334
There is no direct url for the Journal Title Search. That is purely a JavaScript trick.

From: kmerguerian <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Tuesday, July 11, 2017 at 3:41 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [NEU-Libraries/scholar-onese

[2017-07-11 20:13] kmerguerian commented on #334
OK to use this for the catalog-only scope

http://onesearch.library.northeastern.edu/primo-explore/search?vid=NU&search_scope=nu_scope2

[2017-07-11 20:22] gam5 commented on #334
Looks good.

From: kmerguerian <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Tuesday, July 11, 2017 at 4:13 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "McClellan, Greg" <g.mcclellan@northeastern.edu>, Comment <comment@noreply.github.com>
Subject: Re: [NEU-Libraries/scholar-onesearch] URL for e-journals? (#

[2017-07-13 15:16] kmerguerian opened #335 "Home page search box: catalog scope"
When you do a "library catalogs" search from the library home page, it does not scope the search to the catalog. (Reported by a professor, at the ref desk.)

In the libguides, I'm adding
<input name="search_scope" type="hidden" value="nu_scope2" />
to the search box widget forms.  It seems to work. Not sure if that helps with the drupal search box coding.

[2017-07-13 15:33] kmerguerian commented on #335
Sorry, this is what I'm adding, did not escape those angle brackets correctly in markdown.

&lt;input name="search_scope" type="hidden" value="nu_scope2" /&gt;

[2017-07-13 15:40] gam5 commented on #335
Updated the Catalog scope to nu_scope2.

[2017-07-13 15:40] #335 closed

[2017-07-13 19:12] winthropo opened #336 "onesearch.library.northeastern.edu redirect and message"
Per conversation with Ernesto and Greg: In **STAGING**

Try to redirect onesearch to the new UI and add this message to the old UI -- similar to what other institutions are doing:

“There is a New Interface for [Scholar OneSearch](http://onesearch.library.northeastern.edu/primo-explore/search?vid=NU). Please update any bookmarks to use this new version.”

[2017-07-13 19:46] winthropo opened #337 "Make main page tile hover text consistent"
![screen shot 2017-07-13 at 3 45 18 pm](https://user-images.githubusercontent.com/4663357/28184675-4d89fac8-67e2-11e7-8e32-a1cf934beab7.png)

hover text for the links at the top of the page (New Search, E-Journal Finder, etc.) is sometimes capitalized and sometimes not. Could they all be capitalized (title case)?

[2017-07-13 19:47] winthropo commented on #337
Ernesto would like them all to be lower case.

I look forward to discussing at READ!!

[2017-07-13 21:50] winthropo commented on #333
I think @kmerguerian fixed these. Reopen if I have that wrong. Thanks Karen.

[2017-07-13 21:50] #333 closed

[2017-07-13 22:05] kmerguerian commented on #333
I believe the search boxes are now pointing to the new UI correctly.  I sent around a note asking editors to let me know if they notice errors.

[2017-07-19 11:53] jasf- opened #338 "'Check for full text' links in ProQuest"
Copy/paste from Report a Problem no. 2929:  'Check for full text' links in ProQuest incorrectly directing to ILL in SOS

For the visual amongst us: https://www.screencast.com/t/KWO25zVIN

For the readers:
- Use SOS to locate a dissertation that we have access to
- Follow the view online link to go to item in ProQuest. Then:

- If you choose 'download PDF' all is copacetic.  The dissertation PDF do

[2017-07-19 13:28] rmcnally commented on #338
Another possibility could be to replace the 'Check for Full Text' link directly with a link to ILLiad or WorldCat.

[2017-07-20 12:55] jasf- opened #339 "Availability for single titles w/ multiple holdings"
After Hillary C reported problem no. 2925 to library-help, in which she didn't see where to find availability for a single item with multiple holdings, I followed up with her to ask if she thought the way this info is displayed in the new UI is any better.  Her response is pasted below.

IMHO if a library staffer isn't seeing where to find this availability statement, it's pretty unlikely that our

[2017-07-20 13:04] winthropo commented on #339
Do you think guides like this - most likely created by R&I help? Understanding we need to keep improving the interface.

https://www.bu.edu/library/help/bu-libraries-search/new-libraries-search-features-january-2017/

[2017-07-20 13:13] jasf- commented on #339
I'm torn on that, for reasons too long to memorialize here.  The crux of it is that I suspect most people will just get frustrated and give up rather than go looking for documentation like this.

[2017-07-20 13:16] winthropo commented on #339
Yeah, my question was a bit off topic. Thanks!

[2017-07-20 13:18] jasf- commented on #339
🙆

[2017-07-20 13:58] kmerguerian commented on #339
A help page for SoS would be useful, but I would axe the stuff about its being new and what is and isn’t changing.  That’s already in our blog post, plus it’s confusing to people who come to the guide without knowing about the old interface. And it introduces the whole problematic idea we have to defend about why we changed it.  And anyway the “new” stuff has to be removed or rewritten in a couple

[2017-07-20 14:04] winthropo commented on #336
Fixed. Thanks @gam5

[2017-07-20 14:04] winthropo commented on #332
EXL tells us this will be fixed with the August 2017 release.

[2017-07-20 14:05] winthropo commented on #331
Fixed. Thanks @gam5

[2017-07-20 14:05] #331 closed

[2017-07-20 14:05] #330 closed

[2017-07-20 14:06] #336 closed

[2017-07-20 14:14] #318 closed

[2017-07-20 14:14] #315 closed

[2017-07-20 14:15] winthropo commented on #311
@kmerguerian what is the latest with this?

[2017-07-20 14:17] winthropo commented on #244
@nestochan fixed this. closing it.

[2017-07-20 14:17] #244 closed

[2017-07-20 14:22] winthropo commented on #314
Fixed.

[2017-07-20 14:22] #314 closed

[2017-07-20 14:24] winthropo commented on #339
Thanks. Yeah, I didn't mean to make too strong of a comparison with BU. I just meant something vaguely similar.

[2017-07-20 14:27] #266 closed

[2017-07-20 14:28] winthropo commented on #306
Do people like how this looks in production?

[2017-07-20 15:15] winthropo commented on #324
There seems to be some interest in this so I'm going to open it up.

[2017-07-20 15:16] jasf- commented on #324
I agree that subject is not an ideal default and I like your suggested order.

[2017-07-20 15:27] winthropo commented on #324
It is now:

Title (default)
Author
Subject
LC

Closing.

[2017-07-20 15:27] #324 closed

[2017-07-20 15:28] kmerguerian commented on #324
Thank you Scott!

[2017-07-20 20:50] kmerguerian commented on #311
I’ll ask Evan what his vision for chat widgets is going forward.
Karen

From: Scott Carlisle <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Thursday, July 20, 2017 at 10:15 AM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "Merguerian, Gayane Karen" <g.merguerian@northeastern.edu>, Mention <mention@noreply.github.

[2017-08-07 14:35] winthropo opened #340 "Full Text Available in Full Record"
This sort of looks like a link, but it isn't. We can change the wording if you want.

![screen shot 2017-08-07 at 10 28 06 am](https://user-images.githubusercontent.com/4663357/29031385-165081f2-7b5c-11e7-86bd-a3877982be3f.png)

[2017-08-08 12:36] winthropo commented on #323
going to close this but reopen if needed.

[2017-08-08 12:36] #323 closed

[2017-08-08 12:37] #337 closed

[2017-08-08 12:38] winthropo commented on #311
Is there an update on Evan's vision?

[2017-08-08 12:43] winthropo commented on #212
doesn't appear to be an issue in new UI. closing.

[2017-08-08 12:43] #212 closed

[2017-08-08 12:44] winthropo commented on #327
@gam5 is there an update on this fix?

[2017-08-08 12:47] winthropo commented on #306
Do folks think the request links in these screenshots are prominent enough?

![screen shot 2017-08-08 at 8 49 28 am](https://user-images.githubusercontent.com/4663357/29072647-860b16fa-7c16-11e7-8624-11a6b1f228db.png)

![screen shot 2017-08-08 at 8 46 13 am](https://user-images.githubusercontent.com/4663357/29072552-19f805fe-7c16-11e7-8f5b-bb2f8a71ad8c.png)

[2017-08-08 12:52] winthropo commented on #285
Not an issue anymore. Closing.

[2017-08-08 12:52] #285 closed

[2017-08-08 12:52] #246 closed

[2017-08-08 12:54] winthropo commented on #203
Closing. Please open if necessary.

[2017-08-08 12:54] #203 closed

[2017-08-08 12:55] #81 closed

[2017-08-08 12:55] #116 closed

[2017-08-08 12:57] #114 closed

[2017-08-08 12:57] #146 closed

[2017-08-08 12:57] #153 closed

[2017-08-08 12:58] #158 closed

[2017-08-08 12:58] #192 closed

[2017-08-08 13:07] kmerguerian commented on #311
I can ask, I have a meeting with him tomorrow morning.

Karen Merguerian
Northeastern University Libraries

On Aug 8, 2017, at 8:38 AM, "Scott Carlisle" <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there an update on Evan's vision?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/NEU-Libraries/scholar

[2017-08-08 13:17] winthropo commented on #328
@gam5 is there an update on this one?

[2017-08-08 13:35] winthropo commented on #286
@kmerguerian what is the latest with this?

[2017-08-08 14:38] #157 closed

[2017-08-08 14:41] #151 closed

[2017-08-08 15:09] #163 closed

[2017-08-08 15:15] winthropo commented on #164
I'm going to close this old ticket. Still an issue. Please open if there are plans to fix it.

[2017-08-08 15:15] #164 closed

[2017-08-08 15:20] kmerguerian commented on #311
Update: I’ve been invited to a meeting to discuss the future of chat on the 23rd of August. Hope to flesh out Research and Learning’s vision at that time.

Karen

From: "Merguerian, Gayane Karen" <g.merguerian@northeastern.edu>
Date: Tuesday, August 8, 2017 at 9:07 AM
To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Subject: Re: [NEU-Libraries/scholar-onesearch] Adding a chat widget ta

[2017-08-08 15:35] kmerguerian commented on #164
I'm not sure I understand exactly what  "writing the dissertation note field into the PNX field" means...Does that mean the PNX publication date field?

Is there a downside to the first option?  I would want there still to be an accurate publication date, so the citation will format correctly when people download Primo records into Endnote for click on the citation button etc.

[2017-08-11 15:29] winthropo commented on #329
READ approved. closing.

[2017-08-11 15:29] #329 closed

[2017-08-14 14:14] jasf- opened #341 "'Expand my results' showing in new release"
We generally hide this via the back office, IIRC.  It's not in production.

![expandmyresults](https://user-images.githubusercontent.com/4661920/29275489-4579f986-80d9-11e7-9037-5a5e47860dfb.png)

[2017-08-14 14:21] jasf- opened #342 "Course reserves facet in new release"
We have a course reserves facet now, which is pretty nifty!   The display is confusing, though.  There's actually just one item on course reserves that surfaces using this search term (epigenetics), but it appears in three ways, including my personal favorite, 'null'.

![nullcoursereserves](https://user-images.githubusercontent.com/4661920/29275713-0340dd04-80da-11e7-8f47-8ddeabeab3a0.png)

[2017-08-14 14:27] winthropo commented on #342
Even if this was working in staging. I wonder if we should hide this facet since we already have a crowded facet area and a Course Reserve search scope.

[2017-08-14 14:34] jasf- commented on #233
Interestingly enough, it looks as though the session timeout is actually working in the August release.

[2017-08-14 14:57] jasf- commented on #342
I'd actually be more inclined to kill the search scope in favor of the facet, thinking that it would attract more attention/use there.  But I take your point about the crowdedness of the facet area.

[2017-08-14 18:15] jasf- opened #343 "Sticky facets in new release - buggy?"
I can get the sticky facets to work occasionally, but most of the time when I hover over a facet in active filters I'm not getting the padlock that brings up the sticky option.  Can anyone else confirm or deny?

(Marked this as low importance because the method of triggering this option is arcane enough that I suspect it will be a Power Users Only thing.)

Info from ExL's [August Highlights](https

[2017-08-14 18:31] winthropo commented on #343
I can't reproduce this problem in Chrome. But I don't like how they implemented this feature at all.

[2017-08-14 18:34] winthropo commented on #342
If we can't fix this facet by September I hope it would be OK to hide it until we can resolve and move forward with the August release.

[2017-08-14 18:38] RPagani commented on #342
I'm in favor of the search scope, but I remember this facet being available in the old UI and in our current production... maybe we can discuss it with Erin to see how she directs users?

[2017-08-15 12:52] winthropo commented on #342
Yes, the course reserves facet is enabled, right now, in production.

[2017-08-17 00:38] RPagani commented on #343
Also got this to work in Chrome... but it's not the most intuitive feature. I don't know that as a user I would know to hover over the facet to lock it. Probably need to make a tutorial to 1. point it out and 2. clarify what it is

[2017-08-17 12:16] jasf- commented on #343
Fair enough, sounds like a PEBCAC issue on my part. 😉   Will close this.

[2017-08-17 19:53] jasf- commented on #233
Sessions are timing out in 15 minutes.  Dunno if there a standard here, but @RPagani & I chatted about this and 15 min. seems a bit on the short side to us.   Can the session time be lengthened? @nestochan @gam5

[2017-08-17 20:05] gam5 commented on #233
Yes. https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/Session_Timeout_parameter

From: Jen Ferguson <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Thursday, August 17, 2017 at 3:53 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "McClellan, Greg" <g.mcclellan@northeastern.edu>, Mention <mention@norep

[2017-08-18 13:14] winthropo commented on #342
Nicole is investigating the Null value shenanigans.

[2017-08-18 15:26] jasf- commented on #233
Great.  Any objection to bumping up timeout to 30 minutes or even longer?

[2017-08-18 15:37] winthropo commented on #233
Set for 30 minutes right now. Are we certain it is logging out before that now?

Documentation does say "Note that If long timeout is defined, the sessions do not get deleted from the memory, and this might cause the server to get out of memory." Is that a concern?

![screen shot 2017-08-18 at 11 33 40 am](https://user-images.githubusercontent.com/4663357/29466007-453403f8-8409-11e7-818a-ae750db4f

[2017-08-18 15:39] winthropo commented on #233
no objections.

[2017-08-23 13:27] jasf- commented on #341
Not seeing this anymore.  Dunno if somebody took care of it or it healed itself, but in either case, good outcome.

[2017-08-23 13:27] #341 closed

[2017-08-23 13:47] jasf- commented on #343
Reopening to comment.

I'm not a fan of how this is behaving.  If you do use this arcane feature you can get stuck in a lovely cul-de-sac, like so:

-Sign in.  Do a search.  Apply your favorite sticky filter/s.
-Now go to the browse and search for something - title, author, doesn't matter.  You'll get (x) results.
-Click through one of those results.  You might get this message even though the sys

[2017-08-23 14:00] winthropo commented on #343
I can't reproduce your first bit. I signed in. Searched for "crispr." Filtered Peer Reviewed. Locked it in. Went to browse and Title Searched "Harry Potter" and I got results.

What am I doing wrong?

[2017-08-23 15:14] jasf- commented on #343
Probably depends on your choices.  Maybe there's a peer reviewed item titled "Harry Potter"?

It's still doing it for me.  Here's a vid.  http://www.screencast.com/t/EV6v4asSw

[2017-08-23 15:33] winthropo commented on #343
I get it now. I'll file a bug ticket with our friends at EXL. Thanks for the screencast.

My prediction: EXL is not going to see this as a bug and they are going to tell us to file something in Idea Exchange.

[2017-08-29 14:56] winthropo commented on #340
Haven't received any suggestion so I'm going to close this one. Feel free to open and comment if you want.

[2017-08-29 14:56] #340 closed

[2017-08-29 14:57] #332 closed

[2017-08-29 14:58] winthropo commented on #326
We are going to do this with the new Resource Recommender. Closing.

[2017-08-29 14:58] #326 closed

[2017-08-29 14:58] winthropo commented on #311
Is there an update @kmerguerian ?

[2017-08-29 15:01] winthropo commented on #233
Fixed this in staging. Set to 30 now.

[2017-08-29 15:01] #233 closed

[2017-08-29 15:02] winthropo commented on #306
No comments on these so I will assume we like them. Open if you would like to comment.

[2017-08-29 15:02] #306 closed

[2017-08-29 15:03] winthropo commented on #281
Is this still happening? Anyone know how to fix it?

[2017-08-29 15:07] #269 closed

[2017-08-29 15:26] kmerguerian commented on #311
I have the impression Evan is not ready to support a chat widget until we are fully staffed in R&I and have a better sense of what it would take to support local chat service.

Karen

On Aug 29, 2017, at 10:59 AM, Scott Carlisle <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there an update @kmerguerian<https://github.com/kmerguerian> ?

—
You are receiving this because you

[2017-08-29 15:28] #311 closed

[2017-08-29 18:02] #286 closed

[2017-08-30 19:26] winthropo commented on #162
Since this hasn't been updated in about 3 years I'm going to close it.

[2017-08-30 19:26] #162 closed

[2017-08-30 19:27] winthropo commented on #156
Since this hasn't been update in about 3 years I'm going to close it.

[2017-08-30 19:27] #156 closed

[2017-09-01 21:15] kmerguerian opened #344 "Reset filters, also buggy"
When you lock a facet (or a group of facets), clicking on "reset filters" doesn't actually reset the filters.

Maybe this is deliberate? If you have a combination of sticky and non-sticky filters it clears the non-sticky ones only.

So what does "reset filters" really mean?  Just clears non-sticky filters? this is a very subtle distinction and when you click and nothing happens your system seems b

[2017-09-06 21:04] kmerguerian opened #345 "Availability of mail-to in SoS"
Often when helping users I like to look at the full record together so we can see the details or contents, and if it's suitable, email the citation to the user.  That's also how I send e-books.  It would be great if there were an email option in the record display modal.

I realize I can go back to the results list, but sometimes I lose my place in that list and don't know which article I was look

[2017-09-06 21:20] kmerguerian commented on #345
(above is a picture of the "push to" button on the my favorites page.)

[2017-09-06 21:40] kmerguerian opened #346 "Back to search results"
After I go to My Favorites, there's no way to go back to my search.  The only option is to click the search button to repeat the search, but then you are starting all over at the top of the list.  It would be nice if there were a "back to search" button on the My Favorites page.  I realize this may be an enhancement request for Ex Libris.

[2017-09-07 11:09] winthropo commented on #345
Yeah. Jen has mentioned this to me before. I'll investigate. Thanks.

________________________________
From: kmerguerian <notifications@github.com>
Sent: Wednesday, September 6, 2017 6:52:20 PM
To: NEU-Libraries/scholar-onesearch
Cc: Subscribed
Subject: [NEU-Libraries/scholar-onesearch] Availability of mail-to in SoS (#345)

Often when helping users I like to look at the full record together so we

[2017-09-07 12:28] winthropo commented on #346
Thanks for reporting. Are you going to determine if it is an enhancement? Or would you prefer I do that...

If it is an enhancement it would go to Ideas Exchange. Link here: http://ideas.exlibrisgroup.com/

If it is a configuration issue it would be helpful to tag it as such.

[2017-09-07 12:35] kmerguerian commented on #346
I might file it as a ticket first just to see if its a currently supported configuration. Is that allowed?

Karen Merguerian
Northeastern University Libraries

On Sep 7, 2017, at 8:28 AM, "Scott Carlisle" <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for reporting. Are you going to determine if it is an enhancement? Or would you prefer I do that...

If it is an enhance

[2017-09-07 12:40] winthropo commented on #346
I would look at the documentation a bit first. And the back office. But sure.

________________________________
From: kmerguerian <notifications@github.com>
Sent: Thursday, September 7, 2017 8:35:36 AM
To: NEU-Libraries/scholar-onesearch
Cc: Carlisle, Scott; Comment
Subject: Re: [NEU-Libraries/scholar-onesearch] Back to search results (#346)

I might file it as a ticket first just to see if its a

[2017-09-07 13:14] winthropo commented on #345
Fixed. Closing issue. Reopen if you see any funny business.
-------

![emailthing](https://user-images.githubusercontent.com/4663357/30165081-c4837988-93ac-11e7-8bf7-aa67dd630762.png)

-------

![screen shot 2017-09-07 at 9 11 27 am](https://user-images.githubusercontent.com/4663357/30165084-c6a4a20a-93ac-11e7-901a-b742f278779f.png)

[2017-09-07 13:16] jasf- commented on #345
This is very helpful, thanks.  Also, I approve of your new search string.

[2017-09-07 13:27] winthropo commented on #344
After looking at the documentation. My take - it is deliberate. Not defending it or taking a stand though.

They want users to be able to reset the non-sticky filters while keeping the sticky filters locked. You have to first use the lock icon to do anything with the sticky.

I don't know enough about UI/UX/design to comment more on this. But I think you should close this GitHub issue unless you c

[2017-09-07 13:32] kmerguerian commented on #344
Actually for this I may write in to the Primo listserv just to see if there’s a consensus of opinion.  One person raised it as a possible bug early on, but I don’t know if others don’t agree or just not everyone has this release yet and has messed around with this feature.

Karen

From: Scott Carlisle <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Dat

[2017-09-07 13:34] winthropo commented on #344
That's a great idea. If you can get a ton of folks to complain along with you. You you might get something from them.

[2017-09-07 13:35] winthropo commented on #344
I'm going to close this because I don't think there is anything we can do right now in the back office to fix this. Please reopen if you think we should.

[2017-09-07 13:35] #344 closed

[2017-09-07 13:36] winthropo commented on #344
You could put something in Ideas Exchange and then reference that in your email. Good way to get votes.

[2017-09-07 15:10] kmerguerian commented on #345
I think the permalink got lost in the shuffle somehow.

[2017-09-07 15:31] winthropo commented on #345
Yeah, there is a limit of 9 I think. I've returned it back to the way it was.

I'll see if there is data on what is used. And if the citation management people on READ could have a discussion to see if we really need all of these:

Export Bibtex
RIS
Refworks
Endnote Web
Easybib

And keep in mind that at some point Zotero support will be a thing. I've heard first half of 2018.

[2017-09-07 15:32] winthropo commented on #345
Let me know if I should schedule a 2 hour meeting for READ to discuss.

[2017-09-07 15:39] winthropo commented on #345
Since we went live with new UI:

![screen shot 2017-09-07 at 11 38 47 am](https://user-images.githubusercontent.com/4663357/30171891-26f29e8c-93c1-11e7-95c5-231b0d464ef5.png)

[2017-09-07 16:42] kmerguerian commented on #345
AFAIK the library does not support Endnote Web or Easybib, but I would defer to Regina? If we got rid of both we could add the mail and Zotero.

Karen

From: Scott Carlisle <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Thursday, September 7, 2017 at 11:31 AM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "Merguer

[2017-09-07 16:50] jasf- commented on #345
I floated the idea of removing the Easybib option a couple of months ago (#316) - READ consensus was to leave it.  But the space constraints for the 'group of 9' could be a new wrinkle.

[2017-09-07 19:13] winthropo commented on #345
Yep.

I hesitated on removing EasyBib - a topic I usually don't have an opinion on - because during our usability testing many of our students told us they use Easybib. Do I have that right @kmerguerian ?

The usage data I posted above isn't that helpful because it only dates back to July 10. Would it be fare to look at data from the old UI?

[2017-09-07 19:16] kmerguerian commented on #345
Yes, two of the undergrads used it.  But that is such a small sample… it would be good to have some better data on this.

https://docs.google.com/spreadsheets/d/1WccQ-TWtdVARCLx46iBDqMxNboTrRBbbZamhuTQ1ke4/edit?usp=sharing

Karen

From: Scott Carlisle <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Thursday, September 7, 2017 at 3:13 PM
To: NEU-L

[2017-09-07 19:27] winthropo commented on #345
This is for all of 2017. Were all of these available to users in 2017?

![screen shot 2017-09-07 at 3 26 15 pm](https://user-images.githubusercontent.com/4663357/30181358-f74f3896-93e0-11e7-9d77-ad178fb6bfe4.png)

[2017-09-07 19:28] jasf- commented on #345
I believe Easybib was new with the new UI.

[2017-09-07 19:36] winthropo commented on #345
@kmerguerian if it is ok with you. I assigned this to you. If you don't mind being the one to follow up on a decision. Let me know if you can't.

[2017-09-07 22:26] kmerguerian commented on #278
Favicon is gone again...

[2017-09-08 14:20] winthropo commented on #345
@gam5 is the report-a-problem customization preventing us from seeing this arrow? This screenshot from the EXL documentation makes me think we might not be limited to a set amount of actions.

![gamquestion](https://user-images.githubusercontent.com/4663357/30215853-4b3198f2-947f-11e7-9a14-220c66307dd6.png)

[2017-09-08 14:25] gam5 commented on #345
Quite possibly. I'll take a look.

[2017-09-08 15:36] winthropo commented on #345
I get this type of link in my search results email:

http://onesearch.library.northeastern.edu/primo-explore/fulldisplay?docid=TN_crossref10.1161/ATVBAHA.117.309326&context=PC&vid=NU

actions menu can be scrolled horizontally.

[2017-09-08 15:47] winthropo commented on #345
OH yeah. PEBCAK. That scrolling behavior is odd IMHO, but yeah it is there. That's good.

[2017-09-15 15:59] rmcnally opened #347 "Report a Problem button in BrowZine?"
Would we want a Report a Problem button in BrowZine? It seems like most trouble spots will loop back to SOS so the option isn't too far, but it could be a good idea for unforeseen problems.

I asked their support if it was possible and they said they are rolling out that functionality in a few days. We would need to discuss placement and wording.

Their e-mail:
"Not this moment, but we actually ha

[2017-09-19 18:19] winthropo opened #348 "Display Name and URL text"
Questions for @RPagani and @kmerguerian:

Do you want to use URL Text? If so, how do you specifically want me to set it up for these examples. I assume you don't want to duplicate the Resource Type label and the Display Name label. Exhibit A.

If we don't use URL Text then the Display Name (required) is used by default as URL Text. Exhibit B.

Exhibit A.

![historyguide](https://user-images.github

[2017-09-19 18:49] RPagani commented on #348
I like Exhibit B with the Display Name as the linked URL; cleaner, more concise.

[2017-09-19 18:57] kmerguerian commented on #348
Agreed!

[2017-09-19 18:58] winthropo commented on #348
OK. I'll close it out if READ has no concerns.

[2017-09-21 15:27] kmerguerian commented on #345
Meanwhile:

1. Regina has suggested polling R&I about removing EasyBib

2. At some point soon we are going to want to add Zotero to the list of options on this screen.

With that in mind, can we remove Report-a-problem? After all, it's already available for each record in the list.

The icons needed at the top of the MyFavorites are the ones that are most useful for the batch processing of selecte

[2017-09-22 13:48] winthropo opened #349 "Missing Browzine cover art for journals"
Talking about Browzine in staging.

It appears the cover art is working for articles, but not journals in staging. Here is the cover art for Human Biology for an article

![humanbiology1](https://user-images.githubusercontent.com/4663357/30746161-cda56366-9f76-11e7-93c8-eee393edb2cc.png)

Here is an article from that same journal and notice the cover art is missing

![humanbiology2](https://user-i

[2017-09-22 14:16] #328 closed

[2017-09-22 14:39] nestochan opened #350 "angular CSS adjustment to accommodate mobile on MainPage"
Noticed that max-width for that page is wonky. and doesn't size to device due to hard max-width set to 60% and 40%  ... if there is a 100% selector that can be assigned or if the max-width can be changed to 100% provided it isn't used elsewhere that would affect styling adversely
BEFORE:

![screenshot 2017-09-22 10 34 00](https://user-images.githubusercontent.com/2441612/30749635-fd674672-9f81-11e

[2017-09-22 16:04] nestochan commented on #350
@gam I think the best thing to do is assign flex-100 to these columns if possible. messing around with the other 2 may not be the best approach in the long run. 🃏

[2017-09-27 13:10] winthropo opened #351 "Subject Guide Icon Poll Results from READ"
Here are the results. Response rate of 10/14.

![screen shot 2017-09-27 at 9 08 29 am](https://user-images.githubusercontent.com/4663357/30915041-759fbb1c-a363-11e7-8d3d-01dabbeee51b.png)
![screen shot 2017-09-27 at 9 08 59 am](https://user-images.githubusercontent.com/4663357/30915065-85147c2c-a363-11e7-880c-2338e12182b5.png)

This is the icon that would replace the NEU "N" in this screenshot.

!

[2017-10-19 11:47] winthropo commented on #252
Fixed

prevent patrons from updating their Personal Details in Primo by modifying the default configuration in Alma: set the primo_patron_info_updatable parameter to N in the Customer Parameters table (Configuration Menu > General > General Configuration > Other Settings) in Alma.

[2017-11-01 20:21] rmcnally opened #352 "Tooltip interfering with Up/Down buttons in Browse"
Raised in Report a Problem #3134

When in Browse and trying to click the up or down buttons, a Go to Next Page or Go to Previous Page tooltip sometimes pops up that interferes with the buttons working.

(Using Chrome on Windows)

![browseissue](https://user-images.githubusercontent.com/25803683/32295852-d9a0416c-bf20-11e7-9f3c-6d4cfb279416.jpg)

[2017-11-02 13:41] winthropo commented on #352
I'm not seeing this at other sites with up/down on the left. I think Eli moved it to the right with a customization and not a configuration. I think this is the customization:https://github.com/NEU-Libraries/scholar-onesearch/commit/a30a65a9acf4c67229c5962095068224cc99875a

@gam5 can you take a look?

[2017-11-21 16:48] winthropo opened #353 "Remove Subject Guides from brief results"
I just added our Research Subject Guides to the Resource Recommender in SOS production.

Please remove them from the brief results page and stop the previous process of ingesting them.Thanks.
![screen shot 2017-11-21 at 11 44 02 am](https://user-images.githubusercontent.com/4663357/33085142-cfaa2aec-ceb1-11e7-9148-7b1db1cf581c.png)

[2017-11-21 16:50] jasf- commented on #353
Nice!  🎆

[2017-11-21 16:51] winthropo commented on #353
RIP animated beaker GIF 😢

[2017-11-27 16:59] jasf- opened #354 "Logo gets washed out on sign-in"
I just noticed that when signing in, the library logo gets washed out by the switch to black in that area of the page.  Happening in staging and production.

Worth addressing?  Not sure, but I thought I'd memorialize it in any case.

Before
![purtylogo](https://user-images.githubusercontent.com/4661920/33277821-ae4ef93a-d367-11e7-9bb2-d28f6d0c345d.png)

After
![logo washout](https://user-images.gi

[2017-11-27 18:11] winthropo commented on #345
@kmerguerian has R&I been polled about removing EasyBib?

[2017-11-27 19:10] RPagani commented on #345
@kmerguerian @winthropo I'll be sending out a poll this week to R&I. I'll report back in once I get the responses.

[2017-11-27 19:13] winthropo commented on #345
Today I filed a case with EXL to see if it is possible to have more than 9 actions in the brief display. Could be something I can't figure out but is possible...

Some updated Actions usage. From September '17 -> present.

![screen shot 2017-11-27 at 2 07 57 pm](https://user-images.githubusercontent.com/4663357/33284262-784d22c0-d37c-11e7-81f1-d4878dd17a2a.png)

[2017-11-30 13:16] #353 closed

[2017-11-30 19:04] winthropo commented on #349
@gam5 fixed this. Thanks!

[2017-11-30 19:04] #349 closed

[2017-12-11 17:20] winthropo opened #355 "My Account ILLiad link"
Nicole requested an ILLiad link be added to the My Account>Overview section of SOS.

As far as I can tell this has to be a customization. Using Primo configuration we can add it My Account>Personal Details area, but that isn't as visible and she asked for it to be added to Overview.

[2017-12-11 17:22] winthropo commented on #347
POG decided against adding a report-a-problem link to Browzine.

[2017-12-11 17:22] #347 closed

[2017-12-11 17:24] winthropo opened #356 "BrowZine go-live"
POG decided to push this to production. **And to remove the book icon from the link.**

[2017-12-11 17:26] gam5 commented on #356
Icon has been removed on Sandbox.

[2017-12-13 18:15] winthropo commented on #356
The plan is to go live morning of December 15.

[2017-12-15 15:46] winthropo opened #357 "Action Bar"
This is related to #345

Right now in PRODUCTION. The "My Favorites" action bar displays these in order:

1. Bibtex
2. RIS
3. RefWorks
4. Endnote
5. EasyBib
6. Print
7. Report A Problem

And in Production. The Brief Record action bar displays these in order:
1. Bibtex
2. RIS
3. RefWorks
4. Endnote
5. EasyBib
6. Citation
7. Link
8. Print
9. Report A Problem

And I can't display more than 7 actions

[2018-01-17 18:33] gam5 commented on #357
It actually makes sense that "Citation" and "Link" are missing from the Favorites action bar. That area is meant to be used on multiple selected items and citation and link only make sense when you are working with one item.

[2018-01-17 18:35] gam5 commented on #357
In fact, Report a Problem is kind of wonky in this context.

[2018-01-17 19:22] winthropo commented on #357
@gam5 made some changes to the Report A Problem customization. Now displaying this Brief Record action list in Production.

1. Bibtex
2. RIS
3. RefWorks
4. Endnote
5. EasyBib
6. Citation
7. Link
8. Print
9. Email **(new)**
10. Report A Problem

And we are displaying this for the My Favorites action list:

1. Bibtex
2. RIS
3. RefWorks
4. Endnote
5. EasyBib
6. Print
7. Email **(new)**
8. Report A Pr

[2018-01-17 20:14] winthropo commented on #357
I'm going to close this case and open up another ticket for the Repot A Problem issue. Thanks @gam5

[2018-01-17 20:15] winthropo commented on #355
Based on feedback from Nicole/IDEAS, links were added to Overview and Loans. Closing this. Thanks @gam5

[2018-01-17 20:15] #355 closed

[2018-01-17 20:25] #356 closed

[2018-01-17 20:39] winthropo opened #358 "Report-A-Problem link in My Favorites action list"
@gam5 pointed out that it doesn't quite make sense to have the Report-A-Problem link in the My Favorites action list because:

A) these actions are really meant to work with more than one record at a time. Batch emailing, printing, etc.

B) It doesn't work with multiple records right now.

Individual records in the My Favorites area would still have a Report-A-Problem link.

Permission to remove R

[2018-01-17 21:22] rmcnally commented on #358
Seems reasonable to me.

[2018-01-17 21:30] jasf- commented on #358
👍

[2018-01-17 21:46] kmerguerian commented on #358
Agree

[2018-01-18 00:07] tomhohenstein commented on #358
👍

[2018-01-18 13:59] RPagani commented on #358
removing it works for me!

[2018-01-18 17:36] winthropo commented on #358
@gam5 when you have a moment you can remove it from prod and sandbox. Thanks!

[2018-01-18 17:43] gam5 commented on #358
I'm working on it. It's a bit more complicated than it would seem.

[2018-01-26 18:57] winthropo commented on #352
Looks like this is being report again [QID:2632507](http://northeastern.libanswers.com/answer.php?qid=2632507).

[2018-01-26 19:00] gam5 commented on #352
Looks like this fix stops working on screens that are too narrow (i.e., mobile devices). I'll see what we can do.

[2018-01-26 20:14] gam5 commented on #352
Fix in place on sandbox. Browser cache clear is necessary.

Will do more testing and if things look ok, we'll put into place early next week.

[2018-01-26 20:42] winthropo commented on #352
👍

[2018-02-01 18:27] gam5 commented on #352
Fix has been implemented in production. Clearing browser cache will probably be necessary to view the change.

[2018-02-01 18:27] #352 closed

[2018-02-06 17:43] #351 closed

[2018-02-06 17:44] #345 closed

[2018-02-06 17:48] winthropo commented on #350
What is the latest with this @gam5 / @nestochan ?  If I remember...@nestochan did a temporary fix, but I'm not seeing that fix in place anymore.

[2018-02-06 18:44] gam5 commented on #350
Updated CSS on Sandbox. Seems to work and not break anything.

[2018-02-06 19:11] winthropo commented on #350
👍  I say go for it. Make it so in production.

[2018-02-06 19:26] gam5 commented on #350
Moved to production.

[2018-02-06 19:26] #350 closed

[2018-02-06 21:59] nestochan opened #359 "Deploy TLS security on custom Primo Domains"
Work with EXL to deploy TLS security certificate to cover all customized SOS domains.

## **.neu.edu**
- [x] onesearch
- [ ] onesearch-test

## **.library.neu.edu**
- [x] onesearch
- [ ] onesearch-test

## **.northeastern.edu**
- [x] onesearch
- [ ] onesearch-test

## **.library.northeastern.edu**
- [x] onesearch
- [ ] onesearch-test

[2018-02-07 20:02] winthropo opened #360 "Missing Horizontal Actions "Send To" Scroll"
Missing horizontal scroll option in Safari when reducing the size of the browser.

Not a problem in Chrome on even on my iPhone -- just resizing OSX Safari seems to cause it.

![screen shot 2018-02-07 at 2 55 56 pm](https://user-images.githubusercontent.com/4663357/35938486-38c886fc-0c17-11e8-9b1a-ceefd205145b.png)

[2018-02-13 16:43] rmcnally opened #361 "Worldcat passthrough in Internet Explorer"
Found this testing the Nov 2017 release but it appears to be the case in both staging and production on IE. I can't get the 'Search Other Libraries' button to show at all:
![image](https://user-images.githubusercontent.com/25803683/36161738-6fe325b2-10b2-11e8-8325-0e59a375af48.png)

Same search in Chrome:
![image](https://user-images.githubusercontent.com/25803683/36161945-0373769c-10b3-11e8-8646-

[2018-02-23 13:13] RPagani opened #362 "Link to the SOS tutorials from the SOS landing page"
Add a link to the [Scholar OneSearch Tutorial guide](http://subjectguides.lib.neu.edu/scholaronesearch) under the “Where can I get help?” section on the [SOS landing page](http://onesearch.northeastern.edu/primo-explore/search?vid=NU&sortby=rank&lang=en_US). The text for the link would be “Scholar OneSearch Tutorials” and would be most appropriate as the top link (above Ask a Librarian).
<img widt

[2018-02-23 20:08] gam5 commented on #362
Done.

[2018-02-23 20:08] #362 closed

[2018-03-16 16:52] nestochan commented on #359
some link normalization required. in 4 months major browsers will flag as insecure -- mixed or non encrypted sites.

[2018-03-29 16:47] winthropo commented on #236
This is done. Closing the case.

[2018-03-29 16:47] #236 closed

[2018-04-13 16:03] rmcnally opened #363 "RIS export options (RefWorks, EndNote, etc) in Send To Actions list don't work on services page"
Send To Actions that use RIS for citation exports (RIS, RefWorks, EndNote Web, EasyBib) don't work from the services page/OpenURL pages. They don't have any PNX so SOS sends an unusable file.

Example:
http://onesearch.library.northeastern.edu/primo-explore/openurl?url_ver=Z39.88-2004&rft_val_fmt=info:ofi%2Ffmt:kev:mtx:journal&genre=article&sid=ProQ:ProQ:socscijournals&atitle=Faeces%20and%20the%20

[2018-06-18 14:06] winthropo opened #364 "Pre-filter search resource types"
Here are the values we can enable/disable:

All items
Archival Materials
Articles
Audio Visual
Bibliographic Data
Books
Conference Proceedings
Databases
Dissertations
Documents
e-Books
Government Documents
Images
Journals
Legal Documents
LibGuides
Maps
Newspaper Articles
Patents
Programmed Texts
Rare Books
Reference Entries
Research Datasets
Reviews
Scores
Standards/Specifications
Statistical Data

[2018-06-18 14:08] winthropo opened #365 "Pre-filter search operators"
Here are the values we can enable/disable:

additional resource   record ID
additional title
alternative title
anywhere in the record
author
course department
course ID
course instructor
course name
creation date
description
doi
format
full text
general
in user tags
ISBN
ISSN
language
ORCID ID
PNX type
record ID
record type
resource type
scope
source ID
subject
title
TOC

[2018-06-18 19:55] winthropo opened #366 "Should we implement pre-filter from May 2018 release?"
For a brief explanation of this feature you can visit this link: https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/030Highlights/020Primo_May_2018_Highlights#Pre-Filter_Search_in_the_New_UI

I was hoping we could have some of our conversation here.

thoughts after using it in staging?

thoughts on search operators to use (listed in #365)?

thoughts on resource types to use (listed in

[2018-07-09 19:57] jasf- opened #367 "'Streamaudio' material type in staging"
Howdy POGgers,

While testing I came across an interesting material type in staging:

![streamaudiomattype](https://user-images.githubusercontent.com/4661920/42472726-6155d7a0-8390-11e8-8144-85fe230d6720.png)

Same record in production:

![notstreamaudioprod](https://user-images.githubusercontent.com/4661920/42472741-6d3cd424-8390-11e8-9802-0ffa84b68c0b.png)

From spot-checking it seems as though

[2018-07-09 20:04] kflachs commented on #367
Earlier, in the year, I was experimenting with a streaming audio type in the sandbox, but was having trouble getting it to work consistently.

I suspect this is left over from that attempt, since it is only in the sandbox.

-Kristin

From: Jen Ferguson [mailto:notifications@github.com]
Sent: Monday, July 09, 2018 3:58 PM
To: NEU-Libraries/scholar-onesearch
Cc: Subscribed
Subject: [NEU-Libraries/sc

[2018-07-09 20:05] jasf- commented on #366
No me gusta. 👎  But I'm willing to be swayed if others like this feature.

[2018-07-09 20:16] jasf- commented on #367
Aha!  Funny that it surfaced in testing.

[2018-07-17 14:27] rmcnally opened #368 "Titles partially obscured in high contrast mode (accessibility issue)"
Search terms in titles, usually underlined in yellow, will not be visible in the results list in certain browsers if the monitor is in high contrast mode. This is a problem in Firefox and Internet Explorer/Edge. (Chrome works a little differently and the Google high contrast extension doesn't show the same problem.)

![image](https://user-images.githubusercontent.com/25803683/42823342-4f1fc2be-89a

[2018-07-18 15:24] winthropo commented on #368
This might get fixed on Monday when we see the May release in prod. Let's check on Monday. Or I guess we could check staging now.....

[2018-07-23 16:10] winthropo commented on #368
I can't replicate this problem in FF, Chrome or Safari. @rmcnally are you still seeing this? Thought the May upgrade might've fixed.....

[2018-08-09 18:11] winthropo commented on #368
I'm going to close this case. Please reopen if you see the problem again.

[2018-08-09 18:11] #368 closed

[2018-08-14 18:12] winthropo commented on #357
@gam5 I can't seem to add an 11th action item to the brief record. We want to do something like this:

1. Bibtex
2. RIS
3. RefWorks
4. Endnote
5. EasyBib
6. Citation
7. Link
8. Print
9. Email
10. Leganto **(New)**
11. Report A Problem

POG hasn't approved the addition of the Leganto action link yet.

Can you check if the report-a-problem customization needs to be adjusted to accommodate an 11th ac

[2018-08-14 18:33] gam5 commented on #357
It should just be an update the the javascript that controls the report-a-problem. I'll tweak on the sandbox.

[2018-08-14 18:35] winthropo commented on #357
Cool. I'm working on this in production because I don't want to point Primo sandbox to Alma production. Leganto is production only.

[2018-08-30 16:08] winthropo commented on #357
This is done. Closing the ticket.

[2018-08-30 16:08] #357 closed

[2018-09-05 13:47] #367 closed

[2018-09-05 13:48] winthropo commented on #366
Doesn't seem to be much interest in this feature so I'm going to close this one. Let me know if you want to remove it from staging.

[2018-09-05 13:51] winthropo commented on #359
Can this be closed?

[2018-09-05 13:54] nestochan commented on #359
@winthropo we haven’t done test — but if you want to close it you can go ahead.

-e

[2018-09-05 14:01] winthropo commented on #358
@gam5 Is there an update on this? Not a high priority.

[2018-09-05 14:11] winthropo commented on #354
I don't see this issue anymore. OK to close?

[2018-09-05 14:20] winthropo commented on #346
The Search History feature helps this issue. I'm going to close this @kmerguerian but feel free to reopen if you submitted a case to Ex LIbris that is pending/development.

[2018-09-05 14:24] winthropo commented on #327
This is still an issue. Is there an easyish fix?

[2018-09-05 15:30] winthropo commented on #343
EXL told me this will be fixed in the February 2018 release.

[2018-09-05 15:54] winthropo commented on #312
Turned this on in staging. Let us know what you think.

[2018-09-05 15:56] #310 closed

[2018-09-05 16:09] #278 closed

[2018-09-05 16:11] #117 closed

[2018-09-05 19:19] winthropo opened #369 "Search help link"
@RPagani and I discussed the possibility of adding a link to this [page](http://subjectguides.lib.neu.edu/scholaronesearch) in the tiles section at the top of SOS. I'm putting this in staging so we don't forget about the idea. If you have any thoughts on this please let us know what you think! It does push more links to the "show more" area, but I think it would be nice to advertise that help page

[2018-09-05 20:14] jasf- commented on #369
Love it!  💯

[2018-09-06 12:56] jasf- commented on #354
Ditto.  Closing.

[2018-09-06 12:56] #354 closed

[2018-09-06 15:57] winthropo commented on #369
@RPagani and I discussed one last time. Added the Search Help link to production. Going to close this.

[2018-09-06 15:57] #369 closed

[2018-09-06 18:00] jasf- commented on #312
You asked for it @winthropo 😀

**_Probably minor interface issue:_**  Once you search for an item, there doesn't seem to be a way to close the window (?).  You have to hop back to something like 'my account' to start over.

![cantdismiss](https://user-images.githubusercontent.com/4661920/45173530-72af2a00-b1d6-11e8-98f6-bc04205d94d2.png)

**_Probably larger issue:_** IMHO, Fetch Item assumes some

[2018-09-17 14:45] winthropo opened #370 "Sign in text color"
Suggestion from Hillary C. to change the color of the sign in. Others have pointed this out. Maybe it could be red like the other accent colors on the page...Hillary suggests....

<img width="161" alt="unknown" src="https://user-images.githubusercontent.com/4663357/45630331-7e1c1400-ba66-11e8-9e60-30b85b88a266.png">

[2018-09-17 14:48] gam5 commented on #370
Updated on sandbox. Changed it to match other elements in the header. Let me know if you do want red.

[2018-09-17 14:57] winthropo commented on #370
👍 I like what you have going on in staging now. I say make that change in production now and if later on we want to change to red or another color we can.
![screen shot 2018-09-17 at 11 08 27 am](https://user-images.githubusercontent.com/4663357/45631925-15cf3180-ba6a-11e8-9678-c7a4988b8e85.png)

[2018-09-17 15:09] gam5 commented on #370
Now in Production.

From: Scott Carlisle <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Monday, September 17, 2018 at 11:02 AM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "McClellan, Greg" <g.mcclellan@northeastern.edu>, Assign <assign@noreply.github.com>
Subject: Re: [NEU-Libraries/scholar-onesearch] Sign in t

[2018-09-17 15:18] #370 closed

[2018-10-24 13:42] winthropo opened #371 "Primo Google Book Preview"
Amira would like us to look into this feature because it is especially important for the Annex books. I can only find documentation for v.3 of Primo [here](https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_does_the_link_to_Google_books_work).

@gam5 can you take a look at how feasible this is?

Thanks,
Scott

[2018-10-26 16:46] winthropo opened #372 "Unpaywall links"
We have been asked by Library Administration to investigate adding unpaywall links to SOS.

Ryan has done this in staging: https://developers.exlibrisgroup.com/blog/Adding-an-oadoi-dot-org-GES-link-to-Primo

@gam5 is looking at this: https://github.com/bulib/primo-explore-bu/blob/e5f2ed5bf001c7894c34f622b870a37714adc88e/custom/BU/js/unpaywall.module.js

Example here:
https://buprimo.hosted.exlibri

[2018-10-31 19:16] winthropo commented on #372
Here is a link to an example in SOS test.

http://northeastern-primostaging.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid=TN_sage_s10_5301_jva_5000118&context=PC&vid=NU&search_scope=default_scope&tab=default_tab&lang=en_US

![screen shot 2018-10-31 at 3 14 23 pm](https://user-images.githubusercontent.com/4663357/47812810-b712fe00-dd1f-11e8-9f1e-14422313dbd7.png)

But the link currently

[2018-11-01 12:34] winthropo opened #373 "Reorder "send to" actions"
Based on feedback from colleagues in R&I - Regina has asked me and @gam5 to reorder the "send to" actions in SOS. The new order will be from left to right:

1. report a problem
2. link
3. email
4. citation
5. RIS
6. refworks
7. bibtex
8. endnote
9. easybib
10. leganto
11. print

[2018-11-02 17:14] winthropo commented on #373
done. closing this issue. thanks @gam5

[2018-11-02 17:14] #373 closed

[2018-11-19 20:08] winthropo opened #374 "Browzine 'Download PDF' button"
Ryan is working on this. Neato.

Info here: https://thirdiron.atlassian.net/wiki/spaces/BrowZineAPIDocs/pages/79200260/Ex+Libris+Primo+Integration#ExLibrisPrimoIntegration-DownloadNow

Example in staging: http://northeastern-primostaging.hosted.exlibrisgroup.com/primo-explore/search?query=any,contains,gene%20sequencing&tab=default_tab&search_scope=default_scope&vid=NU&mfacet=rtype,include,articles

[2018-11-21 17:06] winthropo commented on #374
After discussing with Ryan ...we think it is ready for production and have asked @gam5 to upgrade next week.

[2018-11-26 20:22] winthropo commented on #374
thanks @gam5 and Ryan. Closing.

[2018-11-27 17:34] winthropo opened #375 "Snell's 3d Printing Studio added to Resource Recommender"
@RPagani and @winthropo agreed to add the 3d Printing Studio to Primo's "Library Information" resource type in the RR.

https://library.northeastern.edu/services/3d-printing-studio

Search "3d printing" or "3d printing studio."

@RPagani is going to consult with Mark before we do this in production.

[2018-11-27 17:40] winthropo opened #376 "Snell's GIS and Data Visualization added to Resource Recommender"
@RPagani and @winthropo agreed to add the GIS and Data Visualization guide to the RR Library Guides resource type.

https://subjectguides.lib.neu.edu/gis-datavis

Search GIS or Data Visualization in staging.

@RPagani is going to check with Steven and Bahare before we push to production.

[2018-11-27 17:45] winthropo opened #377 "Citation Management Libguides added to Resource Recommender"
@RPagani and @winthropo agreed to add the following guides to the RR:

https://subjectguides.lib.neu.edu/RefWorks
https://subjectguides.lib.neu.edu/EndNote
https://subjectguides.lib.neu.edu/Zotero
https://subjectguides.lib.neu.edu/mendeley

@RPagani will check with stakeholders before we do this in staging or prodcution.

[2018-11-29 19:46] winthropo commented on #375
Added to production. closing this one.

[2018-11-29 19:46] #375 closed

[2018-11-29 19:47] winthropo commented on #376
Added links to https://subjectguides.lib.neu.edu/gis-datavis using tags from Bahare in production.

Will do same using separate tags from Steven.

[2018-11-30 18:03] winthropo commented on #377
Added the ones above and this one: https://subjectguides.lib.neu.edu/Citations

Closing.

[2018-11-30 18:03] #377 closed

[2018-12-06 21:04] winthropo opened #378 "SOS Report-A-Problem in SB"
Auto-populated record links from SOS SB's Report-A-Problem are production links.

Can these be changed to SB links?

[2018-12-06 21:08] winthropo opened #379 "SOS Report-A-Problem record links not working in staging"
Record links in Report-A-Problem ticket id #3432217 and id #3432081 don't work.

![screen shot 2018-12-06 at 4 07 23 pm](https://user-images.githubusercontent.com/4663357/49611888-0973ba00-f971-11e8-85f7-8521d1f62e96.png)

I don't think this is related to the new November release in staging. Do you? What is going on here @gam5 ?

[2018-12-07 15:46] winthropo commented on #379
Also an issue in prod.

[2018-12-07 16:28] gam5 commented on #379
The R-A-P links had the wrong search_scope (should be "default_scope"). Fixed in both Prod and Sandbox.

[2019-02-28 16:30] winthropo commented on #372
@gam5  chatter about this on the listserv recently.

A different angular customization here? Checks for the existence of an Open Access resource, and only displays upon success:

https://github.com/alliance-pcsg/primo-explore-oadoi-link

Worth looking into?

[2019-02-28 16:32] gam5 commented on #372
I'll take a look.

[2019-03-01 19:07] kmerguerian commented on #372
I don't know if there's a subscription change but I can actually get to the PDF of that article above.  I can report to library-help, maybe there should be a holdings update.

Here's an example of an OA article that Unpaywall can link to.  But I can't find it in staging.  Maybe it's too new.
https://onesearch.library.northeastern.edu/primo-explore/fulldisplay?docid=TN_crossref10.1159/000490360&con

[2019-03-04 16:18] jasf- opened #380 "Webpage title - February 2019 release"
Webpage title in Feb 2019 release is being wonky.  In this case, it's showing the title of the second item in the results list (?) -- 'Remembering John Marshall' -- as the title.

![screenshot 2019-03-04 at 9 35 15 am](https://user-images.githubusercontent.com/4661920/53746123-8a5a2900-3e6e-11e9-8e08-4028e2b14cbb.png)

Title for this same search in production shows as 'SOS -(search term)':

![scre

[2019-03-04 16:33] jasf- opened #381 "Default scope spelling -- Feb 2019 release"
The default scope in the Feb 2019 release has gone British on us 🇬🇧

![testingcatalogues](https://user-images.githubusercontent.com/4661920/53747005-5849c680-3e70-11e9-9f95-4124dc9f3447.png)

The scope below it in the dropdown is 'library catalogs' USA-style. 🇺🇸

All scopes in production use US-style 'catalog'

![catalogsprod](https://user-images.githubusercontent.com/4661920/53747010-5c75e400-3e7

[2019-03-05 19:41] #376 closed

[2019-03-05 19:42] #378 closed

[2019-03-05 19:45] winthropo commented on #371
@gam5 are you able to look into this? I think it uses GBS Viewability API.

[2019-03-05 19:46] winthropo commented on #327
I'm going to close this @gam5 @nestochan. Please reopen if you feel the urge to fix this bug.

[2019-03-05 19:46] #327 closed

[2019-03-05 20:21] #359 closed

[2019-03-05 20:42] winthropo commented on #226
@jasf- was this a customization being discussed?

[2019-03-05 21:06] jasf- commented on #226
It was, long long ago!

[2019-03-06 13:37] winthropo commented on #226
Closing due to inactivity. Let's open a new case if we want to revisit.

[2019-03-06 13:37] #226 closed

[2019-03-06 14:13] winthropo commented on #380
Impressive (!) that you found this weird bug that exists in production and sandbox. This is where this is configured and the configurations are the same in production and sandbox.

![screen shot 2019-03-06 at 8 53 37 am](https://user-images.githubusercontent.com/4663357/53886237-93bdcf80-3fed-11e9-82d0-854e765c397b.png)

One way to reproduce this bug.

1. do a fresh topic search incognito for "pro

[2019-03-06 15:18] winthropo commented on #381
Fixed. A victory for America! 🇺🇸 Closing case.

[2019-03-06 15:18] #381 closed

[2019-03-06 15:59] winthropo commented on #360
Closing due to inactivity. Let's open a new case if we want to revisit.

[2019-03-06 15:59] #360 closed

[2019-03-06 16:02] winthropo commented on #343
According to EXL this issue was resolved in the Primo February 2018 Release. Please reopen if that isn't the case.

[2019-03-06 16:02] #343 closed

[2019-03-06 16:06] winthropo commented on #339
Closing due to inactivity. Let's open a new case if we need to revisit.

[2019-03-06 16:06] #339 closed

[2019-03-06 16:36] winthropo commented on #342
Closed due to inactivity. I'll reopen if there is an update to share.

[2019-03-06 16:36] #342 closed

[2019-03-06 17:33] #325 closed

[2019-03-14 13:58] winthropo commented on #358
@nestochan recommended closing this ticket. We can revisit later if we want. Closing.

[2019-03-14 13:58] #358 closed

[2019-03-15 13:12] winthropo commented on #281
Closing this issue. Response from EXL:

[2019-03-15 13:12] #281 closed

[2019-03-15 18:19] winthropo commented on #363
@nestochan is going to look at this.

[2019-03-15 18:21] winthropo commented on #371
@winthropo is going to file a case with Ex Libris to see how to do this.

[2019-03-15 18:24] winthropo commented on #361
@nestochan and @winthropo discussed. Windows 10 ships with Edge browser. Not an issue with Edge. POG should start testing releases with Edge.

[2019-03-15 18:24] #361 closed

[2019-03-15 18:31] rmcnally commented on #363
Ex Libris hasn't updated my case, but it looks like OpenURL pages now have an ad hoc PNX and a few tests exporting to EndNote, RefWorks, and EasyBib worked for me fine, so this can probably be closed.

[2019-03-15 18:41] #363 closed

[2019-03-20 16:07] winthropo commented on #372
I discussed with admin. They want us to close this one. Thanks @gam5 for the work on this.

[2019-03-20 16:07] #372 closed

[2019-03-20 16:27] winthropo commented on #380
EXL case 0066004

`I wasn't able to find any other reports of this issue, but I was able to reproduce this on your environment and my test environment. It does appear to be a bug, so I'm forwarding this case to the Tier 2 team. They will keep you informed of any updates.
`

[2019-03-25 14:41] winthropo commented on #371
I have this working in staging, but found out admin wants the link here. Asked EXL in a ticket.

![GBS](https://user-images.githubusercontent.com/4663357/54928573-7b551c80-4eea-11e9-8f34-a57e32440aa5.png)

[2019-03-25 14:45] gam5 commented on #371
I think I can do the with Javascript. Maybe.

[2019-03-26 15:57] winthropo opened #382 "Virtual Browse Improvements"
Here is virtual browse functionality admin would like to see Ex Libris work on. Please consider voting.

https://ideas.exlibrisgroup.com/forums/308176-primo/suggestions/37203868-virtual-browse-improvements

@gam5 if you think you can make any of this happen I know admin would love it.

[2019-03-27 15:31] nestochan commented on #371
cool

[2019-03-27 15:40] winthropo commented on #371
There is a non-js solution in place in staging. example [here](http://onesearch-test.library.northeastern.edu/primo-explore/fulldisplay?docid=NEU_ALMA21159816380001401&context=L&vid=NU&search_scope=default_scope&tab=default_tab&lang=en_US).

![Screen Shot 2019-03-27 at 11 39 55 AM](https://user-images.githubusercontent.com/4663357/55090206-12ee7280-5085-11e9-9d06-dc928bcdfe1c.png)

[2019-03-27 15:59] winthropo commented on #371
If the Javascript solution is easy to do and won't clash too much with release updates I say we go with that.

[2019-03-27 16:24] nestochan commented on #312
test comment

[2019-03-27 16:31] winthropo commented on #312
cool

From: nestochan <notifications@github.com>
Reply-To: NEU-Libraries/scholar-onesearch <reply@reply.github.com>
Date: Wednesday, March 27, 2019 at 12:24 PM
To: NEU-Libraries/scholar-onesearch <scholar-onesearch@noreply.github.com>
Cc: "Carlisle, Scott" <s.carlisle@northeastern.edu>, Mention <mention@noreply.github.com>
Subject: Re: [NEU-Libraries/scholar-onesearch] 'Fetch item' in staging? (#3

[2019-04-05 18:39] winthropo commented on #237
Under review by EXL. _Separate the Audiovisual facet for Primo Central Index (PCI) into video and audio_

https://ideas.exlibrisgroup.com/forums/308176-primo/suggestions/35053936-separate-the-audiovisual-facet-for-primo-central-i

[2019-04-09 12:07] winthropo commented on #371
Admin decided to go with the non-JS solution. I made those changes in production - closing this one.

[2019-04-09 14:22] winthropo commented on #380
Bug. Pending development from EXL. Case: [00660041](https://exlibrisgroup--c.na62.visual.force.com/apex/VF_Case_WithoutJira?id=5000e00001WyT2gAAF)

[2019-06-10 14:28] jasf- opened #384 "Report a Problem form not pre-populating info - May release"
Just started testing the May release.

[This item ](http://onesearch-test.library.northeastern.edu/permalink/f/t09un1/TN_crossref10.1016/j.annemergmed.2018.05.010)in staging (May release) does not pre-populate info into Report a Problem form.

[Same item in production](https://onesearch.library.northeastern.edu/primo-explore/fulldisplay?docid=TN_sciversesciencedirect_elsevierS0196-0644(18)30432-3&

[2019-06-12 13:54] winthropo opened #385 "Contextual relationships"
May 2019 Primo feature. Activated in staging. Evaluating for possible production implementation before start of fall '19 semester.

Mapping table>related items

[2019-06-17 19:52] gam5 commented on #384
So it turns out there are multiple versions of this article available... if you go to the **exact** [same record](http://onesearch.library.northeastern.edu/primo-explore/fulldisplay?docid=TN_crossref10.1016%2Fj.annemergmed.2018.05.010&vid=NU&search_scope=default_scope&tab=default_tab&lang=en_US&context=PC) in production, you see the same behavior.

This record seems to be coming from crossref, but

[2019-07-10 14:14] jasf- commented on #384
Apologies for the belated reply.  I just spent 15-ish minutes clicking around on various records in staging, even focusing on ones coming from CrossRef, and I can't find any other examples of this behavior.  Think I happened across an outlier before and I'm fine with closing this issue.

[2019-07-10 16:21] #384 closed

[2019-08-20 20:39] winthropo opened #386 "Loans Tab - remove "Pick up" row from loans details page"
Hi @gam5

Could you remove the "Pick up" row from the loan details page by adding this code to the custom1.css file in the Customization package? Librarians think the pick up line is confusing in the loans tab and I don’t disagree. I've removed some other unnecessary and confusing lines from that screen using the BO.

[code]

![Screen Shot 2019-08-19 at 11 48 56 AM](https://user-images.githubuserc

[2019-08-21 16:03] gam5 commented on #386
All set.

[2019-08-21 16:03] #386 closed

[2019-11-06 14:53] winthropo commented on #366
There is renewed interest in this feature as a potential way to connect users to open textbooks. Based on feedback from Amira I have removed most of the resource types. We are investigating adding open textbook to the pre-filter. Let me know what you think here or email me. Enabled in [test](http://onesearch-test.library.northeastern.edu/primo-explore/search?vid=NU).

[2019-11-06 15:05] winthropo commented on #366
BTW. Not suggesting that this would be the final list of resource types in the pre-filter or that this is the approach we are going to take.

[2019-11-07 17:11] winthropo commented on #366
Based on usage numbers I added more resource types to the pre-filter. Ebook pre-filter needs to be fixed and open textbook needs to be created and added. Once those things are in place POG should discuss and give feedback to admin.

[2019-11-07 20:09] winthropo opened #387 "Report A Problem Form"
Form is not auto-populating with URL or Permalink.

[2019-11-07 20:38] gam5 commented on #387
Looks to be a problem on the Springshare side. OUr javascript is no longer being rendered on the page. See here for details on how this is implemented: https://github.com/NEU-Libraries/scholar-onesearch/wiki/Primo---LibAnswers-=-Report-a-Problem

[2019-11-19 21:53] nestochan commented on #387
This is fixed —- somehow the default group was set to not allow scripts which affected our settings. This is now fixed.

[2019-11-19 21:53] #387 closed

[2019-12-06 18:47] winthropo opened #388 "Citation Trails"
I enabled citation trails in test. Documentation on it [here](https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/020Primo_VE/End_User_Help/Using_Citation_Trails).

Please share your thoughts here or send me an email. If we think it has improved we could enable it in production.

Thanks.

[2019-12-06 19:06] jasf- commented on #388
Much improved IMHO!  Nice visual representation of where the user is in the trail.

![CitationTrail](https://user-images.githubusercontent.com/4661920/70348801-72ff0080-1831-11ea-8850-1b949f22c5be.png)

[2020-01-06 13:18] winthropo commented on #388
Enabled in production.

[2020-01-06 13:18] #388 closed

[2020-01-08 20:13] winthropo opened #389 "Include Results with no full-text config"
Changed default behavior to **not** display results with no full-text.

[Documentation](https://knowledge.exlibrisgroup.com/Primo/Content_Corner/Primo_Central_Index/Product_Documentation/PC_Index_Configuration_Guide/040Additional_Configurations_for_Primo/010Configuring_the_Primo_Central_Search_Scope)

[2020-01-08 20:13] #389 closed

[2020-02-03 13:36] winthropo opened #390 "Mobile issues: February 2020 release in SB"
EXL documentation recommends that customization packages should be tested in this release since CSS changes were made to improve visibility on mobile devices. I've noticed two things possibly related to our WC passthrough customization.

Redesign and change list from EXL here: https://developers.exlibrisgroup.com/primo/other/nuithirdparties/

1. WC passthrough too close to X

![Screen Shot 2020-02

[2020-02-03 13:50] gam5 commented on #390
I'll take a look.

[2020-02-20 17:44] kmerguerian opened #391 "Logo in SoS emailed alerts"
Scott and Greg are already working on this, but just wanted to document it here.

In the weekly alert emailed to me:

The Library logo is not visible against the background color
Logo is distorted
Logo is out of date

[2020-02-20 17:51] kmerguerian opened #392 "SoS emailed alert, display and branding"
Scott and Greg are already working on this, but wanted to document it here.

In my weekly email alert, the color scheme does not match Scholar OneSearch (off-brand)--mimic the grey and red to match the SoS style.

Following Northeastern branding guidelines, the "from" address should be updated from .neu.edu to northeastern.edu

Following the university's recommendation to use the AP style guide, a

[2020-02-20 17:52] kmerguerian commented on #391
An option might be to use the combined library/scholar onesearch logo as it appears on the SoS website banner.  (See issue #392)

[2020-02-27 22:30] kmerguerian opened #393 "SoS emailed alert : secure links"
Hi, Scott and Greg, I noticed in my latest email alert from Primo production, the links to individual items (articles, books) point to a nonsecure http.  So if I click on an item in my alert email, I get a screen like the one below. (Chrome and Firefox on Windows 10)  If I then start doing other searches, my activities continue to be "not secure."

Normally if I go to the SoS website from the libr

[2020-03-03 16:16] winthropo opened #394 "Resource type in pre-filter drop-down"
@gam5 : possible to make this scrolling drop-down more obvious? I've received some feedback on this and can think of two solutions: 1) have it open so that it displays everything at once or 2) make the scroll more obvious.

![Screen Shot 2020-03-03 at 11 11 56 AM](https://user-images.githubusercontent.com/4663357/75795280-1af86d00-5d40-11ea-9bb2-c1d5ef5e4443.png)

[2020-03-03 17:13] nestochan commented on #393
@kmerguerian can you attach the email you received from alert.
if you hover over links in those emails what do they look like?

I'm looking at other examples of search alerts and all of those links are https://

now some of the records called up show not secure because there are parts of the record that are http and usually not controllable by us -- mostly PCI records in the case of articles.
in w

[2020-05-13 15:53] rmcnally opened #395 "New BrowZine Primo Integrations"
BrowZine has added two new Primo integrations that we may want to consider. We currently use BrowZine integrations for the ‘View Issue/Journal Contents’ and ‘Download PDF’ options that appear in Primo.

The first is for a ‘Read Article’ option that is supposed to expand one-click access to aggregator platforms: [https://thirdiron.atlassian.net/wiki/spaces/BrowZineAPIDocs/pages/79200260/Ex+Libris+P

[2020-08-28 15:08] winthropo opened #396 "Remove top-level 'Available in the library' facet"
Documentation here:

https://knowledge.exlibrisgroup.com/Primo/Knowledge_Articles/How_to_ask_to_remove_deleted_titles_still_in_Primo/How_to_remove_%C2%AB_open_access_%C2%BB_and_%C2%AB_peer_reviewed_journals_%C2%BB_facets_from_Primo_and_Primo_VE

[2020-08-28 15:15] winthropo opened #397 "Change Primo calculated availability text"
'Available at' changed to 'Item in storage at' in Primo code tables

LIBRARY CATALOG & ARTICLES
Code Tables>Delivery>Calculated Availability Text
default.delivery.code.available_in_my_institution

LIBRARY CATALOGS
Code Tables>Delivery>Calculated Availability Text
default.delivery.code.available_in_institution

[2020-08-28 15:19] winthropo opened #398 "Change Alma Get It display logic wording"
Change 'Available at' to 'Item in storage at'

In Alma
Fulfillment>Discovery Interface Display Logic>LabelsCode Table:
c.uresolver.getit2.item_list.status.ITEM_IN_PLACE

[2020-08-28 15:29] winthropo opened #399 "Hide two Get It classes"
itemPolicy
holdingAvailabilityInfo

https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/010Alma_Online_Help_(English)/060Alma-Primo_Integration/060Configuring_Alma_Delivery_System/090Branding_the_Delivery_Tabs

<img width="350" alt="Screen Shot 2020-08-28 at 11 28 45 AM" src="https://user-images.githubusercontent.com/4663357/91585135-a898cc00-e921-11ea-8ecc-50b59c2b3dbf.png">

[2020-08-31 14:41] winthropo commented on #398
Completed.

[2020-08-31 14:41] #398 closed

[2020-08-31 14:42] winthropo commented on #397
Completed.

[2020-08-31 14:42] #397 closed

[2021-08-25 19:40] winthropo opened #400 "Primo VE Display Language sort"
VE's Display Language list is sorted by the language code instead of the language name and currently there is no option to sort this list of languages. However, this request can be achieved as a workaround using the customization package. For example, this list can be reordered using CSS code:

prm-language-selection md-list-item[value="ar"]{ order: 0 !important; }
prm-language-selection md-list-i

[2021-08-26 20:11] rmcnally opened #401 "CSS change needed to hide 'Held by Library' in 'Show Only' section"
To remove the 'Held by Library' option here, we need to add some lines to the CSS.

![image](https://user-images.githubusercontent.com/25803683/131027999-9bde854e-5db5-42a1-a6d8-bb629113fd71.png)

Around Line 264 in custom1, add:

/* Hide facet Held by library */
[data-facet-value="tlevel-available_p"] {
display:none !important;}

https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/020

[2021-09-09 14:55] gam5 commented on #401
This is just for VE?

[2021-09-09 14:57] rmcnally commented on #401
Yeah, no rush.

[2021-09-09 15:01] gam5 commented on #401
Done

[2021-09-09 15:01] #401 closed

[2021-09-09 15:08] winthropo opened #402 "Worldcat pass 'search other libraries'"
Needs fixing in VE.

[2021-10-05 13:34] winthropo opened #403 "Menu link"
The link to the menu in the upper-right hand corner is difficult to read. It would be nice to tweak it ahead of go-live or earlier because it is also an issue in BO.

![menu](https://user-images.githubusercontent.com/4663357/136033140-0c34f78b-1d94-4e5e-b071-92c9f411e4c7.png)

[2021-10-26 20:44] gam5 commented on #400
Added to VE css file. Does not seem to work. continuing to investigate.

[2021-11-04 14:19] winthropo opened #404 "Remove Journal Title Search customization in VE advanced search"
![journaltitlesearch](https://user-images.githubusercontent.com/4663357/140330194-17dfae49-ab20-42d5-bc59-73bd0f40c2c7.png)

[2021-11-04 18:07] winthropo opened #405 "VE display problems"
Received some testing feedback from R&I.

"When I was looking around for the red WorldCat link, though, this happened to my screen: Notice the left sorting/filtering pane is superimposed over the search bar, even though I have scrolled to the top of the page."

I see this a lot in our current version of Primo that has the WC link. Should I file a case @gam5 or do you think this is something you ca

[2021-11-05 16:07] nestochan opened #406 "test issue"
test issue - GO-VE - teams channel

[2021-11-05 16:18] nestochan commented on #406
closing test

[2021-11-05 16:18] #406 closed

[2021-11-08 13:57] winthropo commented on #405
Hey @gam5 and @nestochan and  @rmcnally I was able to reproduce this in VE this morning (Chrome/Mac). Lindley looks to be Windows/Chrome. Vertical scrolling of the left-hand facet area seems to trigger it. You can see what it does with my screenshot:

![Screen Shot 2021-11-08 at 8 50 46 AM](https://user-images.githubusercontent.com/4663357/140753827-cb1b2888-0120-48a5-943d-8c4ea2fc0603.png)
.

[2021-11-17 19:02] winthropo opened #407 "VE email template issues"
It looks like our email template could use some work. Documentation here:
https://knowledge.exlibrisgroup.com/Primo/Product_Documentation/020Primo_VE/Primo_VE_(English)/030Primo_VE_User_Interface/010Primo_VE_Customization_-_Best_Practices#Customizing_the_Email_Template

![bad email](https://user-images.githubusercontent.com/4663357/142265462-cc3eb576-1b19-406b-b5ba-619a9df6828f.png)

[2021-11-17 19:23] gam5 commented on #407
The weird 2019 thing was a typo in: Alma Configuration > Discovery > Display Configuration > Labels ->Send Email and Sms Labels -> nui.email.disclaimer

[2021-11-17 20:26] winthropo commented on #407
Thanks. I would be fine with removing that disclaimer altogether. You'd think that by turning off the enabled slider it would do that, but nope.

[2021-11-18 13:52] winthropo commented on #407
@gam5 would it be easy to hide those giant icons? Or format the email so it doesn't look so stupid?

[2021-11-18 21:22] winthropo commented on #407
These giant icons appear in our current Primo environment, too. So I'm going to remove the GoVe tag.

[2021-12-01 18:47] gam5 commented on #402
Now working

[2021-12-01 18:47] #402 closed

[2021-12-01 18:49] gam5 commented on #405
I have not been able to recreate this.

[2021-12-01 18:51] winthropo commented on #405
OK. I see it fairly often in Chrome and Safari. I guess I can close it.

[2021-12-01 18:51] gam5 commented on #405
I have now recreated the problem. I'm guessing a CSS issue. I will investigate and will consult with J9.

[2021-12-01 19:08] gam5 commented on #403
Added this to the custom css:
`/* menu button colors */
prm-user-area-expandable .md-button.button-with-menu-arrow:not(.button-with-icon) {
  color: #666;
}
/* end menu button colors */
`
seems to have done the trick

[2021-12-01 19:10] nestochan commented on #403
ok so now that menu is viewable -- it makes the sign in button not so awful --e

[2021-12-02 14:40] #403 closed

[2021-12-02 14:48] nestochan commented on #405
looks like maybe an overflow issue  maybe related to the svg ? or scrolling element not bound fully into a container. is that controlled by height/width/right left type boundaries?

[2021-12-02 14:50] nestochan commented on #407
is this sorted?

[2021-12-02 14:52] gam5 commented on #407
Still in progress

[2021-12-02 17:22] gam5 commented on #404
Done.

[2021-12-02 17:22] #404 closed

[2021-12-02 17:37] JeanineNR commented on #405
I'll look into it.

[2021-12-02 17:41] gam5 commented on #400
Actually, it does seem to work. Is this the order we want?

[2021-12-02 17:46] winthropo commented on #400
Yeah! Looks good. Thanks.

[2021-12-02 17:46] #400 closed

[2021-12-02 21:08] nestochan commented on #400
motoring!

[2022-01-03 15:13] winthropo commented on #405
My guess is that the World Cat passthru aka 'search other libraries' is also causing this display issue on mobile (my iPhone). I don't see this problem on other Primo VE sites. You can horizontally scroll - something that shouldn't be happening - and you will see the passthru and the advanced search link.  If this can't be easily fixed I'm going to work hard to remove the passthru customization -

[2022-01-27 16:02] winthropo opened #408 "Saved search email branding"
It would be nice to add some NU branding to this letter. I think this is configured here @gam5:

Configuration > General > Letters > Letters Configuration >Saved Searches Letter

<img width="768" alt="Screen Shot 2022-01-27 at 10 59 36 AM" src="https://user-images.githubusercontent.com/4663357/151395715-35f3e5a8-e63e-4ddf-9fa9-0b4810ffd411.png">

[2022-02-15 16:05] winthropo opened #409 "Orbis Worldcat customization"
I think we may have a display problem, especially in mobile, caused by or related to, our Worldcat passthrough customization. See #405

I stumbled upon what I think is a more elegant solution at Adelphi: https://adelphi.primo.exlibrisgroup.com/discovery/search?vid=01ADELPHI_INST:01ADELPHI_INST&lang=en

@gam5 is going to try to get it up and working in our sandbox for us to evaluate.

![Screen Shot

[2022-02-23 20:02] winthropo commented on #409
R&I change requests so far:

1. Change language at the top of the widget from "Repeat my search in" to "Search other libraries in"

2. Remove Google Scholar link

Will receive final verdict in a week or so.

[2022-02-24 13:58] winthropo commented on #409
Another minor change. I confirmed that it is "WorldCat." Right now it is "Worldcat" in SOS. That should be changed I think.

[2022-02-24 14:37] gam5 commented on #409
Changes have been made.

[2022-03-01 16:19] winthropo commented on #409
We received approval from Karen and Alissa to make the change in production. Here is link to the details:https://github.com/alliance-pcsg/primo-explore-external-search

[2022-03-01 17:16] gam5 commented on #409
All set.

[2022-03-01 17:16] #409 closed

[2022-06-24 16:22] winthropo opened #410 "Hide Oakland view's virtual browse"
vid=01NEU_INST:NU_Olin

[2022-06-24 16:28] gam5 commented on #410
Hidden via CSS.

`/* hide virtual browse for Mills */
div#virtualBrowse {
    display:none !important;
}
/* end hide virtual browse for Mills */`

[2022-06-24 16:34] winthropo commented on #410
Thanks! That was fast. Closing case.

[2022-07-21 13:35] winthropo opened #411 "Changes to Mills view homepage in sandbox"
Please add _Mills College at Northeastern University_ below Welcome to Scholar OneSearch

![Screen Shot 2022-07-21 at 9 25 48 AM](https://user-images.githubusercontent.com/4663357/180225978-968d7bae-4c8f-4886-a05b-b1eaf992229a.png)

Change second paragraph language from:
Looking only for books, e-books, or videos located at Snell Library, the Law Library, and the John D. O’Bryant African American

[2022-07-26 15:26] winthropo commented on #411
Also. Please adjust the WorldCat passthrough customization for Mills.

[2022-07-26 16:12] gam5 commented on #411
Should be all set. Let me know if anything seems amiss.

[2022-07-29 17:31] gam5 commented on #410
Updated in production. However, "Virtual Browse" still shows up as an item in the navigation menu. Let's leave this open and I will investigate our options.

[2022-07-29 17:31] gam5 commented on #411
Updated in production

[2022-07-29 18:42] winthropo commented on #411
![Screen Shot 2022-07-29 at 2 42 14 PM](https://user-images.githubusercontent.com/4663357/181824243-40cb0bec-d865-410c-9711-c2d4d08346f3.png)
Please replace with updated 'oakland' naming.

[2022-08-02 19:30] gam5 commented on #411
Changes in place. Please take a look and close this ticket if things look ok.

[2022-08-12 19:29] gam5 commented on #410
Menu item hidden

[2022-08-12 19:29] #410 closed

[2022-09-07 14:48] winthropo opened #412 "Hide 'expand beyond library collections' in international view in SB"
Please hide that button in the international view in SB.

https://northeastern-psb.primo.exlibrisgroup.com/discovery/search?vid=01NEU_INST:NU_International

Thanks

[2022-09-09 19:32] winthropo opened #413 "Primo logos"
Please add the logos with state outlines to the sandbox. Attaching logos without state outlines in case the others don't look good in that small corner of SOS. POG prefers the state outline logos.

![Oakland Campus SOS logo](https://user-images.githubusercontent.com/4663357/189428892-c18195d2-cb69-4a80-a909-62d5a96fb463.svg)
![Oakland Campus SOS logo - NO OUTLINE](https://user-images.githubusercon

[2022-09-09 19:55] winthropo opened #414 "Hide Virtual Browse in sandbox for US and International views"
For the following views in SB:

NU_International
NU_Domestic

Thanks!

[2022-09-12 15:34] gam5 commented on #414
done and done

[2022-09-12 15:34] #414 closed

[2022-09-12 15:35] gam5 commented on #412
Complete

[2022-09-12 15:35] #412 closed

[2022-09-12 15:36] gam5 commented on #411
This appears to be all set

[2022-09-12 15:39] winthropo commented on #413
When you put the Mills logo in SB and Prod — whichever one POG ends up approving — it should be switched to linking to: https://library.mills.edu/ instead of https://library.northeastern.edu/

[2022-09-13 19:12] winthropo opened #415 "Hide WorldCat passthru"
Please hide the WC passthru from international view in sandbox. Thanks.

[2022-09-13 19:16] winthropo opened #416 "Hide WorldCat passthru"
Please hide WC passthru from US campuses view in sandbox. Thank you.

[2022-09-13 20:13] winthropo opened #417 "Hide WorldCat passthru"
Please hide WC passthru from **international** view in **production**.

[2022-09-14 14:19] winthropo opened #418 "Hide WorldCat passthru"
Please hide WC passthru in US production view. Thanks!

[2022-09-14 14:21] winthropo opened #419 "Hide 'Expand beyond library collections' filter"
Please hide 'Expand beyond library collections' filter from the international view in prod.

[2022-09-16 12:58] winthropo opened #420 "SOS Homepage Revised Wording & Links (international)"
**Welcome to Scholar OneSearch**

Scholar OneSearch provides simple, one-stop searching for e-books, videos, articles, digital media, and more.

**What am I searching?**

· E-books
· Scholarly and Peer-Reviewed Articles
· Newspaper Articles
· Journals
· Video and Audio
· Government Documents

And more from a variety of licensed and open source [databases and resources](https://library.northeastern

[2022-09-16 13:07] winthropo opened #421 "SOS Homepage Revised Wording & Links (US)"
**Welcome to Scholar OneSearch**

Scholar OneSearch provides simple, one-stop searching for e-books, videos, articles, digital media, and more.

**What am I searching?**

· E-books
· Scholarly and Peer-Reviewed Articles
· Newspaper Articles
· Journals
· Video and Audio
· Government Documents

And more from a variety of licensed and open source [databases and resources](https://library.northeastern

[2022-09-16 13:14] winthropo commented on #421
All links remain the same except the Scholar OneSearch tutorials link should point here instead:https://subjectguides.lib.neu.edu/researchtutorials/scholarone

[2022-09-16 13:14] winthropo commented on #420
All links remain the same except the Scholar OneSearch tutorials link should point here instead:https://subjectguides.lib.neu.edu/researchtutorials/scholarone

[2022-09-16 13:30] winthropo opened #422 "SOS Homepage Link Change"
Scholar OneSearch Tutorials link should point here now: https://subjectguides.lib.neu.edu/researchtutorials/scholarone

[2022-09-16 13:33] winthropo opened #423 "Adjust Report a Problem"
The Report a Problem needs configuring for the US and international views.

[2022-09-22 18:06] gam5 commented on #421
Homepage updated.

[2022-09-22 18:15] gam5 commented on #420
Homepage updated

[2022-09-22 18:15] #420 closed

[2022-09-22 18:16] gam5 commented on #423
Done

[2022-09-22 18:16] #423 closed

[2022-09-22 18:45] #419 closed

[2022-09-22 18:49] #417 closed

[2022-09-22 18:50] #418 closed

[2022-09-22 18:51] #422 closed

[2022-10-31 14:36] winthropo opened #424 "Boston view homepage changes"
"Limit your search by choosing "Library Catalogs” in the dropdown menu." should be changed to "Limit your search by choosing "Boston Catalogs” in the dropdown menu.

Screenshot should be of new search profile names.

[2022-10-31 15:18] winthropo commented on #424
![Screen Shot 2022-10-31 at 11 17 09 AM](https://user-images.githubusercontent.com/4663357/199043470-38adced1-0fc8-4a27-8056-31f4944a6566.png)

[2022-10-31 16:04] #424 closed